[2015-10-27 09:30] jk-ozlabs opened #8 "ftgmac driver has locking issues"
I've booted a kernel with CONFIG_LOCKDEP, but it crashes on DHCP:

[code]

[2015-10-30 18:33] nkskjames opened #11 "I2C errors in console"
[code]

[2015-10-30 18:44] nkskjames opened #12 "I2C is flooding journald log"
only thing in journald in 30000 lines is i2c stuff

[2015-10-31 09:27] shenki commented on #11
These look like systemd-journald errors, not i2c errors

[2015-10-31 09:28] shenki commented on #12
What does the journald log look like?

What is your kernel command line?

[2015-10-31 13:01] williamspatrick commented on #11
It seems like #12 is the culprit.  If we are flooding out i2c logs to the console then systemd might not be able to keep up.  Seems like two different symptoms of the same problem.

[2015-11-01 22:26] shenki commented on #12
[code]

[2015-11-01 22:26] shenki commented on #12
[code]

[2015-11-02 04:34] nkskjames commented on #12
## instantiate a hwmon (this is barreleye)
echo nct7904 0x2e > /sys/bus/i2c/devices/i2c-6/new_device

## the tmp421 temperature sensor will cause same behavior on palmetto.

## set pwm to max
echo 255 > /sys/class/hwmon/hwmon0/pwm1

I get this in console (issue #11)
ystemd-journald[388]: /dev/kmsg buffer overrun, some messages lost.
root@palmetto:/ssystemd-journald[388]: /dev/kmsg buffer overrun,

[2015-11-02 13:02] nkskjames commented on #12
This is on Palmetto
echo tmp423 0x4c > /sys/bus/i2c/devices/i2c-2/new_device

lots of these lines in journald log
Oct 31 23:13:18 palmetto kernel: i2c 2-004c: uevent
Oct 31 23:13:18 palmetto kernel: i2c 2-004c: uevent
Oct 31 23:13:18 palmetto kernel: i2c 2-004c: uevent
Oct 31 23:13:18 palmetto kernel: i2c 2-004c: uevent
Oct 31 23:13:18 palmetto kernel: i2c 2-004c: uevent
Oct 31 23:13:18 palmetto k

[2015-11-02 13:11] shenki commented on #12
I am not familiar with journald. Does it show us all of the messages from the kernel, or is some kind of filtering performed?

Can you paste the output of `dmesg | tail` and /proc/cmdline?

On the specifics of your issue, this message comes from the core i2c code (https://github.com/torvalds/linux/blob/master/drivers/i2c/i2c-core.c#L492). It will take some more digging to work out why we're seeing

[2015-11-02 13:25] nkskjames commented on #12
root@palmetto:~# dmesg|tail
i2c 2-004c: uevent
i2c 2-004c: uevent
i2c 2-004c: uevent
i2c 2-004c: uevent
i2c 2-004c: uevent
i2c 2-004c: uevent
i2c 2-004c: uevent
i2c 2-004c: uevent
i2c 2-004c: uevent
i2c 2-004c: uevent

dmesg totally rolled
root@palmetto:~# dmesg|head
i2c 2-004c: uevent
i2c 2-004c: uevent
i2c 2-004c: uevent
i2c 2-004c: uevent
i2c 2-004c: uevent
i2c 2-004c: uevent
i2c 2-004c: uevent

[2015-11-04 07:54] jk-ozlabs commented on #12
Looks like we're hitting a systemd issue:

 https://bugs.freedesktop.org/show_bug.cgi?id=76886

so perhaps we should disable `CONFIG_I2C_DEBUG_CORE`

[2015-11-04 10:02] jk-ozlabs commented on #12
Should be fixed by cff17c45f and 3cd273e4.

[2015-11-04 10:02] #12 closed

[2015-11-04 10:04] jk-ozlabs commented on #11
Should be fixed by 3cd273e, but there seems to be other issues with i2cdetect.

[2015-11-04 10:47] jk-ozlabs opened #16 "at24 eeprom isn't working"
Looks like we get NAKs from the device:

[code]

Dynamic debugging config:
[code]

[2015-11-04 10:59] jk-ozlabs commented on #16
.. whereas the RTC device on the same bus seems to work fine.

[2015-11-04 10:59] jk-ozlabs commented on #16
@nkskjames is the address for this eeprom correct? We're addressing 0x50 on the first i2c bus.

[2015-11-05 06:38] jk-ozlabs commented on #16
Hm, not even i2cdetect will find it at 0x50. Looks like an invalid address.

I do see a device at 0x71, but that doesn't look like the eeprom either.

@nkskjames : can we validate the addresses we have in the DT?

[2015-11-05 09:25] Kenthliu opened #17 "Kernel crash caused by network setting."
Reproduce step:
	1. Do not plug in LAN cable
	2. AC on
	3. Log in BMC
	4. plug in LAN cable
	5. Set ifconfig IP
	6. ifconfig eth0 down
	7. ifconfig eth0 up
	8. kernel crash

[code]

[2015-11-05 09:34] jk-ozlabs commented on #17
Looks similar to issue #8; I suspect we have a similar cause here.

[2015-11-13 04:05] gwshan commented on #8
There is a spinlock protecting all NCSI request, which contains a command and possibly a response. In Tx path, the spinlock is taken before grabbing a available NCSI request from 256-elements table. In Rx path (NAPI & softIRQ), the lock is taken and then ingress skb is associated with the NCSI request. In the timer handler, the lock is taken as well before checking the state NCSI request.

Accordi

[2015-11-13 04:10] jk-ozlabs commented on #8
@gwshan so this is a matter of replacing a `spin_lock()` with a `spin_lock_irqsave()` ?

[2015-11-13 05:05] gwshan commented on #17
It would be caused by a abnormal situation. From the beginning, we try to bring up the interface, but the NCSI interface is down for the attempt. The NCSI stack notifies the ftgmac100 driver about that and the driver shutdown itself down by freeing all BDs/buffers. However, the interface is still up. After that, the proceeding "ifconfig eth0 down" tries to close the NCSI dev. For that, the NCSI st

[2015-11-13 06:02] gwshan commented on #8
Yes I think so, jk

[2015-11-13 13:07] shenki commented on #16
Under the AST kernel:

[code]

On the OpenBMC kernel:

[code]

Note that we don't reinitalise these values at boot, so if you boot at AST kernel and then reboot into a OpenBMC kernel without power cycling, your i2c buses may just happen to work.

I will correct this in a future patch.

[2015-11-16 00:42] gwshan commented on #17
The problem was reproduced successfully with private code: Force returning errcode from ncsi_select_active_channel(). The root cause (as last update) is still applied. I'll figure out the fix.

[2015-11-24 05:45] #11 closed

[2015-11-25 02:57] jk-ozlabs commented on #16
Should be sorted with the current code.

[2015-11-25 02:57] #16 closed

[2015-11-30 17:27] nkskjames opened #23 "GPIO interrupt crashes kernel"
Kernel crashes when power button is pushed which is on gpio352.  This probably was introduced with 4.3 kernel.

[code]
[code]
[code]

[2015-12-01 01:27] jk-ozlabs commented on #23
Taking a look.

[2015-12-01 01:36] jk-ozlabs commented on #23
@nkskjames : could you send me the vmlinux used in that build, or add the disassembly of that compile of the `aspeed_gpio_irq_handler` function, as a comment?

[2015-12-01 03:01] jk-ozlabs commented on #23
@nkskjames is testing with https://github.com/jk-ozlabs/linux/commit/87c10ddd748e0a45508ea1cc8a7504dcff103987

[2015-12-01 04:27] nkskjames commented on #23
jk-ozlabs@87c10dd fixes it

[2015-12-01 07:06] jk-ozlabs commented on #23
@nkskjames thanks for testing. Merged as https://github.com/openbmc/linux/commit/6041e18256bd64692c576f7393073c2d14e778eb

[2015-12-01 07:06] #23 closed

[2015-12-03 03:16] jk-ozlabs opened #25 "Provide a multiplatform kernel for ast & qemu"
Would be nice to use a single build & source tree for hardware and qemu.

If we don't have a suitable qemu model available, a single source tree (but separate build) would be ok.

[2015-12-03 05:27] causten opened #26 "ftgmac crashing"
I am on palm303.  I am testing with  Sprint 3 Candidate #114
[code]

[2015-12-03 06:04] shenki commented on #26
@gwshan can you please take a look?

[2015-12-03 11:41] gwshan commented on #26
It is same as https://github.com/openbmc/openbmc/issues/107

[2015-12-07 00:16] nkskjames opened #27 "tmp423 probe is failing"
On palmetto, the tmp423 that is in device tree is not being instantiated:

[   67.340000] tmp421 2-004c: Could not read configuration register (-5)
[   67.350000] tmp421: probe of 2-004c failed with error -5

but, I can read the mfg and device id reg manually and they look ok:

root@palmetto:~# i2cget 2 0x4c 0xff b
WARNING! This program can confuse your I2C bus, cause data loss and worse!
I will r

[2015-12-07 00:23] jk-ozlabs commented on #27
Could you try:

    dmesg -c > /dev/null
    echo "module i2c_aspeed +p" > /sys/kernel/debug/dynamic_debug

Then attempt the probe, then paste the resulting `dmesg`?

[2015-12-07 01:10] nkskjames commented on #27
if i remove from device tree and manually instantiate, it works.  so this must be another case of the SCU's not being setup properly in the kernel for i2c-2.   i will get those bits into aspeed.c as referenced in https://github.com/openbmc/skeleton/issues/20

[2015-12-07 23:10] causten commented on #26
I agree this is the same as #107, I'll use it for tracking

[2015-12-07 23:10] #26 closed

[2015-12-08 03:26] causten commented on #17
Any news on the fix?  I tried it today and no crash, but the network doesn't come back either

[2015-12-18 18:17] anoo1 opened #33 "hwclock displaying error on empty date with kernel openbmc-20151210-1"
When AC cycle is applied, the RTC date is empty (issue been tracked separately to find out why the RTC is not persisting the date).
With kernel 201521202, issuing "hwclock" from the BMC command line displays the epoch time.
After updating to kernel openbmc-20151210-1, hwclock displays an error:

root@barreleye:~# hwclock
hwclock: RTC_RD_TIME: Invalid argument

After updating the RTC via "hwclock -

[2015-12-23 08:23] Kenthliu opened #35 "BMC kernel panic cause by AC power cycle"
We could see kernel panic after AC cycle few times. Below is the BMC console information.
[bmc_kernalpanic.txt](https://github.com/openbmc/linux/files/70547/bmc_kernalpanic.txt)

[2016-01-09 02:54] williamspatrick commented on #25
@causten - You might be interested in this.

[2016-01-09 03:26] amboar commented on #25
Related to this, I've got some patches to qemu that boot the aspeed ast2400 kernel. They're still a work in progress (I.e. likely to get rebased),  but if you're keen to test out review them they are available in my ast2400 branch:

https://github.com/amboar/qemu/tree/ast2400

[2016-01-11 12:19] #27 closed

[2016-01-14 11:07] shenki commented on #25
Once @amboar has his model then we will only need the one kernel.

In the mean time we can look at doing a multiplatform kernel. What machine type does poky currently use to boot in qemu?

[2016-01-14 15:18] causten commented on #25
using the kernel we boot our barreleyes with instead of the yocto default one would be a great step forward.  Currently our qemu image runs on the versatilepb machine.  When do I get this feature?

/home/causten/openbmc-barreleye/build/tmp/sysroots/x86_64-linux/usr/bin/qemu-system-arm -kernel /home/causten/openbmc-barreleye/build/tmp/deploy/images/qemuarm/zImage-qemuarm.bin -net nic,vlan=0 -net ta

[2016-01-14 21:38] amboar commented on #25
@causten you can try the code now ( see https://github.com/openbmc/linux/issues/25#issuecomment-170186246 ), but it's still very much a WIP. The critical bits for qemu invocation are:

[code]

[2016-01-27 07:17] shenki opened #44 "Clean up power8 occ hwmon driver"
[code]

[2016-01-31 03:16] nkskjames opened #45 "OCC driver is non-functional"
Commit  087febae42dee3b389e995d958f5dd48a1f137a4 breaks the OCC hwmon driver.    root@barreleye:/sys/bus/i2c/devices/3-0050# echo 1 > online
occ-i2c 3-0050: ERROR: no SENSOR String in response
occ-i2c 3-0050: ERROR: cannot get occ sensor data: -1
-sh: echo: write error: Operation not permitted

If I don't apply this commit, the driver works fine:
 uname -r
4.3.4-fe68a785afbaa305506c87c6324f70ed060

[2016-02-02 02:46] shenki commented on #45
Thanks for reporting this. I'm not getting notifications for this repository; can you make me an owner so I get that?

The line was removed as I have further cleanup patches for the occ driver that aren't ready yet. Thanks for fixing it; it's in the tree as https://github.com/openbmc/linux/commit/2a3f5f14fdf2e8fb680af168fa642ef8a9218ffb

[2016-02-04 00:02] #45 closed

[2016-02-04 00:02] shenki commented on #17
We think that this is fixed with the lock fix. Please re-open if you see it again

[2016-02-04 00:02] #17 closed

[2016-02-04 00:05] shenki commented on #35
Here is the oops:

[code]

[2016-02-04 00:06] shenki commented on #33
This should be resolved now that we disable the internal rtc in the device tree. Please re-open if you still see this issue.

[2016-02-04 00:06] #33 closed

[2016-02-04 00:25] shenki commented on #35
@Kenthliu have you seen this with newer versions of the firmware?

[2016-02-04 00:50] Kenthliu commented on #35
@shenki In which version or commit? I saw this issue in 0.2. If this is fixed, I will verify in 0.3.

[2016-02-04 13:29] mdmillerii commented on #33
This could easly be  due to the month off-by-one that we fixed too.  (especially in December or January).

[2016-02-10 07:01] shenki commented on #44
@adamliyi can you please take a look at these warnings. Although the driver is in the tree, they must be fixed before I will review again.

[2016-02-17 03:23] cyrilbur-ibm opened #51 "MTD driver to host PNOR issue"
I've been testing out the MTD driver.
Minimal testing has uncovered an issue in that reading from /dev/mtd7 (the host PNOR) is unreliable.
$ dd if=/dev/mtd7 of=/tmp/pnor count=1
Appears to work, what looks like an FFS header is in /tmp/pnor. Repeating that command reads all FF.

Didn't reproduce on /dev/mtd0.

[2016-02-17 03:26] cyrilbur-ibm commented on #51
uname -a
Linux palmetto 4.3.4-fe68a785afbaa305506c87c6324f70ed0605385c #1 Mon Feb 8 16:55:24 AWST 2016 armv5tejl GNU/Linux

[2016-02-17 22:22] mdmillerii commented on #51
I haven't tested pnor a lot.  I did see something similar once in the last week where the driver would repeatedly read FF.

pflash can bypass the bmc and was able to see data when this occurred.  A reboot for me allowed me to read the flash repeatedly and I was not able to recreate the FF even with tunning.

There is still call to pflash to tune the controller that is happening behind the drivers

[2016-02-22 08:02] adamliyi commented on #44
OK. I will fix the warning.

[2016-02-24 03:39] shenki opened #53 "Kernel OOPS at boot and shutdown"
Reported by Doug:

[code]

[code]

[code]

[code]

[code]

[2016-02-24 03:41] shenki commented on #53
[code]

[2016-02-24 04:29] shenki commented on #53
[code]

[2016-02-25 02:17] cyrilbur-ibm opened #54 "ncsi deadlock detection"
ncsi deadlock detection

[code]
Kernel is at 908a999 with the following applied so that networking works with CONFIG_LOCKDEP

[code]
Fix might be as simple as:
[code]
but I'll check with Gavin.

[2016-02-25 02:23] cyrilbur-ibm commented on #54
Oops probable duplicate issue of #8

[2016-02-26 19:24] nkskjames commented on #53
This happens on occasionally on my DVT system with latest kernel including jffs2.  Looks similar to fail #4 above:
root@barreleye:~# reboot
[  OK  ] Stopped target System Time Synchronized.
[  OK  ] Stopped Dispatch Password Requests to Console Directory Watch.
[  OK  ] Stopped target Swap.
         Stopping SSH Per-Connection Server (9.3.62.94:40890)...
[  OK  ] Stopped Create Static Device Nodes

[2016-02-29 11:00] adamliyi commented on #44
@shenki , Joel, I just fixed the warning message issue. in: https://github.com/openbmc/linux/pull/56
Could you please have a look?

[2016-03-01 03:45] cyrilbur-ibm commented on #44
I've commented on the patch, it looks ok. Is __beXX what we should be using?

[2016-03-03 06:34] adamliyi opened #58 "[i2c_aspeed]: i2c_aspeed reports error when calling "i2c_smbus_read_block_data()""
obmc linux version:
[code]
When run a short test like bellow:
[code]
i2c_aspeed driver will give error:
[code]

[2016-03-03 23:20] nkskjames commented on #53
I think we found the root cause.  Here are the facts:
1. The EVT system was plugged directly into lab switch.  The DVT system was plugged into a local switch.
2. If the BMC network is plugged in and we do a cold reboot, then seg fault is likely to occur.
3. The seg faults does not occur on warm reboots (with jffs2 filesystem)
4. If we wait at uboot prompt for around 10secs before letting kernel st

[2016-03-04 03:46] nkskjames opened #59 "JFFS2 corruption that results in kernel panic"
While doing power cycling to debug another issue, the rwfs got corrupted and we had to netboot to recover:  No files were created in overlay since first initial flash of this system.

[code]

[2016-03-04 03:48] shenki commented on #59
This is userspace dying, not a kernel bug:

[code]

[2016-03-04 04:05] nkskjames commented on #59
userspace dying because of a corrupted shared library that was in rofs.  How could that shared library get in rwfs?  How could we debug that?

[2016-03-04 04:10] shenki commented on #59
Your rwfs is corrupt by the looks?

You could try booting with `init=/bin/bash`? But I suspect you will come across similar issues.

[2016-03-04 04:14] nkskjames commented on #59
i'm sure the rwfs is corrupt. i just don't understand how the .so got affected.  the rwfs should be empty or mostly empty.

[2016-03-04 06:40] shenki commented on #58
Can you please reproduce this with dynamic debugging enabled for the i2c-aspeed driver, and paste the log here?

Something like:
[code]

[2016-03-07 03:41] adamliyi commented on #58
For "log" do you mean "dmesg"?
Looks the i2c_aspeed driver will generate too many log, and the error message will be overwrite.
How can I only produce debug log just for this test?

# echo adm1278 0x10 > /sys/class/i2c-adapter/i2c-4/new_device
# dmesg
[131123.600000] i2c_aspeed i2c-6: irq! status 0x00000001, cmd 0x0c430000
[131123.600000] i2c_aspeed i2c-6: ast_i2c_master_xfer_done xfer 0S
[131123.

[2016-03-07 04:05] shenki commented on #58
Okay, it looks like systemd might be stuffing us up. I'll try debugging this with a sane userspace. Can you please describe to me how to replicate the issue? Do I need a barreleye?

[2016-03-07 10:09] gwshan commented on #53
It's mos likely caused by race condition between uboot and kernel like below:
1. The uboot has enabled NCSI and there has BDs pointing to valid memory buffer.
2. Kernel boots and lots of memory slabs (struct kmem_cache) are created. One of the slab cache ("kernfs_node_cache" as being seen in the following example) is using the memory block that uboot reserved to store ingress frames.
3. Ingress AR

[2016-03-07 10:18] gwshan commented on #53
Writing 0x0 to MACCR (offset: 0x50) should stop the MAC from receiving any frames. It's just a workaround. The final solution is to change uboot to do that before loading and booting kernel image. I'm not sure who is responsible for that? If nobody is in charge of that, I can do that by providing more info:

(A) The source code of uboot
(B) Command to flush uboot image

[2016-03-07 10:20] gwshan commented on #59
I guess it would have same root cause to issue 53.

[2016-03-07 15:22] nkskjames commented on #53
(A) We have our own fork of uboot: https://github.com/openbmc/u-boot/tree/v2013.07-aspeed-openbmc

So can we use the "workaround" until the final fix?  If so, can you do a pull request for that?

[2016-03-09 05:00] adamliyi commented on #58
Thanks Milton. I increased kmesg buffer to 16MB and catch the log:

[    5.860000] i2c_aspeed i2c-4: i2c bus 4 registered, irq 224
[  627.500000] i2c_aspeed i2c-4: state[0], SCL[1], SDA[1], BUS[0]
[  627.500000] i2c_aspeed i2c-4: ast_i2c_do_byte_xfer W: addr 10 start, len 1
[  627.500000] i2c_aspeed i2c-4: issuing cmd: 3
[  627.500000] i2c_aspeed i2c-4: irq! status 0x00000001, cmd 0x0c430000
[  62

[2016-03-09 05:20] adamliyi commented on #58
To reproduce the issue:
(Latest obmc at this moment has built adm1275 driver into kernel, so we have to use an earlier version):

1. Kernel version:
root@barreleye:/sys/kernel/debug/dynamic_debug# uname -a
Linux barreleye 4.3.6-openbmc-20160222-1 #2 Thu Mar 3 16:31:12 CST 2016 armv5tejl GNU/Linux
2. Need to test on Barreleye.
3. Please use the modules in the adm1278.zip
[adm1278.zip](https://githu

[2016-03-11 04:08] shenki opened #60 "reboot issues on palmetto with non-openbmc userspace"
I am booting dev-4.3 and dev-4.4 on a palmetto using a simple buildroot userspace. I do not see any output on the serial console after rebooting. Using an openbmc userspace this works fine.

The differences in the SCU and SMC (flash) registers are:

| Name | Address      | openbmc      | buildroot       |
| --------: | ----------------: | ---------------: | ----------------: |
| System Reset Contr

[2016-03-15 02:06] nkskjames opened #61 "ftgmac is still not detecting link if cable plugged in after BMC is booted"
Here are steps to fail:
1. LAN cable plugged
2. BMC booted
3. Setup network
[network works fine]
4. turn off AC
5. unplug LAN cable
6. turn on AC
7. BMC boots
8. Plug in cable
9. LAN is not enabled (ftgmac100: NCSI dev is down)

[2016-03-15 12:22] shenki commented on #58
I've had a read of our driver, and it appears we should be okay with this. I'll take a closer look tomorrow.

[2016-03-16 00:23] shenki commented on #58
Upstream has gained support for this device!

Here's the pull request for 4.6 that adds support for the adm1278:

 https://lkml.org/lkml/2016/3/14/404

The commit is here:

https://git.kernel.org/cgit/linux/kernel/git/groeck/linux-staging.git/commit/?h=hwmon-for-linus-v4.6&id=709066acdd12c3312c94ebccc37630932e381949

[2016-03-16 00:39] shenki commented on #58
I reproduced using our dev-4.4 kernel and the upstream driver:

[code]

[2016-03-16 00:44] shenki commented on #58
irq status 0x00000010 (at offset 0x10, I2CD10: Interrupt Status Register):

Bit 4 is `(WC) Normal Stop Condition Detection interrupt status`.

irq cmd `0x0a060008` is `I2CD14: Command/Status Register`, bits set: 27, 25, 18, 17, 3.

[2016-03-16 06:30] jk-ozlabs commented on #58
OK, here's what I think is happening:

[code]

The client has done a read from address 0x10, so we're sending a start along with the one-byte write to provide the address value. The actual command is transmit | start. That command completes sucessfully.

Next:

[code]

Here we're doing a read with the `I2C_M_RECV_LEN` flag (so a one-byte read to get the length, then a length-byte read to get the r

[2016-03-16 10:43] shenki commented on #58
Thanks Jeremy! I took your suggestion and this patch resulted in working transfers:

[code]

You also metioned we might need to ensure we do the right thing if the received length is zero. I'll think about that and send out a final patch tomorrow.

[2016-03-17 01:41] mdmillerii commented on #59
After a new report I searched for the error and found several reports, but also a proposed patch.  That patch highlighted the issue and lead to a patch being merged in 4.5.

The library isn't in rwfs, but the directory is because it was modified.  The bug is reading the directories when mounting the file system gets confused by stale copies still in the flash and marks child directories as having

[2016-03-17 02:17] gwshan commented on #61
Did we issue below commands after step (8) ? By the way, who from IRC channel I can get more info?

ifconfig eth0 down && ifconfig eth0 up

[2016-03-17 03:52] nkskjames commented on #61
ifconfig eth0 down && ifconfig eth0 up does make network work.  The expectation from end user is that when the cable is plugged the link should come up on its own though.  Is that not correct?  I will see if we can get person who reported this on IRC.

[2016-03-17 04:18] gwshan commented on #61
No, when the cable is plugged, the network interface won't be up automatically. When MAC has NCSI is enabled, we don't have a PHY attached. That means we don't have a thread monitoring the link status and wake up the MAC when link is ready. With NCSI, we have to issue "ifconifg ethx down && ifconfig eth0 up" after the cable is plugged.

The problem here is the above command doesn't help after cabl

[2016-03-17 13:31] shenki opened #62 "ncsi error on boot"
@gwshan, I'm seeing this on boot with my 4.4 based aspeed tree:

[code]

I then did a `ifconfig eth0 down` and enabled debugging:

[code]

Some time later (at least several seconds, perhaps a minute?) I got this:

[code]

And the interface was functional.

[2016-03-17 17:41] nkskjames commented on #61
"The problem here is the above command doesn't help after cable is plugged."
not sure what you mean. ifconfig down/up does work after cable is plugged.

NC-SI specifies an async event notification for things like link state change.  Please see section 6.7 in: http://www.dmtf.org/sites/default/files/standards/documents/DSP0222_1.0.1.pdf.   If that doesn't work, it is not unusual to poll for link st

[2016-03-21 01:33] shenki commented on #8
We made this change, and I cannot reproduce with our 4.4 based tree.

[2016-03-21 01:33] #8 closed

[2016-03-21 01:33] shenki commented on #54
#8 is closed now

[2016-03-21 01:33] #54 closed

[2016-03-21 01:37] shenki commented on #35
This looks related to our u-boot issue. Please reopen if you can reproduce with the fixed u-boot

[2016-03-21 01:37] #35 closed

[2016-03-21 10:34] gwshan commented on #61
Yeah, you're correct that the AEN packet will be sent upon link-down event. The NCSI stack will try to choose another available channel if existing. Otherwise, the NCSI interface is down and I guess it's the case. When NCSI stack receives AEN on link-up event, it tries to choose an available channel for communication if we don't have one yet.

I'll try to reproduce this issue on local BMC tomorrow

[2016-03-21 12:24] shenki opened #64 "device tree support for adm1278"
Following from the discussion in https://github.com/openbmc/openbmc/pull/212#issuecomment-199149334, we need extra features not present in the upstream driver:

* device tree probing https://github.com/shenki/linux/commit/5fbf374af9fc88bc15a21cde9055f2503c43ab50

* support sense resistor https://github.com/shenki/linux/commit/dd13a2c59d1221f8dd7ca3eb61b587a652c32d8f

* a Barreleye device tree http

[2016-03-21 12:37] shenki commented on #64
[code]

[code]

[2016-03-22 02:59] adamliyi commented on #64
@shenki . I agree this is a better solution. The code looks OK with me. I will do more test on HW (to check the sensors we want are there) today.

[2016-03-22 03:06] shenki commented on #64
@adamliyi I added the three to the device tree that you mentioned in your patches. The output is pasted in the comment above. Are the numbers correct?

[2016-03-22 03:09] mdmillerii commented on #64
The user space framework already supports a scale factor, so that patch could be delayed.  Instancing from the device tree is required.

I think a generic scaling framework for all hwmon sensors should be proposed instead of a one off feature for one driver.

[2016-03-22 09:39] adamliyi commented on #64
Hi Joel,

With @mdmillerii 's comments, and I read again the document you mentioned:
[code]
So it looks we using a "scale factor" for the sense resistor in user space make more sense? In obmc's case, we can set the "scale factor" in skeleton.

BTW, the sensor resistor value on Barreleye is 250 microohms.

[2016-03-22 23:09] mdmillerii opened #66 "pr_warn from fs/jffs2/scan.c line 671 in new 4.4 kernel"
The jffs2 file system over the ast2400 fmc driver is working fine on the dev-4.3 branch 35d2cfb27392c73096b9cbdb0e250a900474301f .  But the file system is spewing pr_warn in the dev-4.4 branch 1500e269432548059f34907990465cbba34437c5 .

The spew is from fs/jffs2/scan.c line 671.  The whole scan.c file has not changed between revisions.  A quick web search shows this is likely due to either file sy

[2016-03-24 02:33] mdmillerii commented on #66
Doing a git bisect run with the test being the rofs could be the root file system yields:
git bisect start
git bisect good 35d2cfb27392c73096b9cbdb0e250a900474301f
git bisect bad 1500e269432548059f34907990465cbba34437c5
git bisect good 6a13feb9c82803e2b815eca72fa7a9f5561d7861
git bisect good ab1228e42e71f5cb687c740c4c304f1d48bcf68a
git bisect good ea5c58e70c3a148ada0d3061a8f529589bb766ba
git bisec

[2016-03-24 21:13] mdmillerii commented on #66
It turns out I identified the fix (filling out `flash_node`) but missed a step copying the image over for test.

[2016-03-29 07:35] shenki commented on #66
This is fixed in https://github.com/openbmc/linux/commit/aeb4718beca0d07ff232341cdd544008e17f1fdc

[2016-03-29 07:35] #66 closed

[2016-03-29 07:36] shenki commented on #59
I think we have this under control as of https://github.com/openbmc/linux/commit/aeb4718beca0d07ff232341cdd544008e17f1fdc. Closing for now, please re-open if you see this again.

[2016-03-29 07:36] #59 closed

[2016-03-29 07:38] shenki commented on #51
@cyrilbur-ibm can you please clarify what the issue is?

Please try to reproduce on the latest image.

[2016-03-29 07:44] shenki commented on #53
These have been committed to our branch at https://github.com/openbmc/u-boot/tree/v2013.07-aspeed-openbmc as of https://github.com/openbmc/u-boot/commit/fecb84ab7f3bddc4039b5de31f57440e1cfff650

[2016-03-29 07:44] #53 closed

[2016-03-29 08:54] shenki commented on #64
I have sent the device tree change upstream: http://article.gmane.org/gmane.linux.kernel.hwmon/24

I disagree with upstream; in the case of the device tree we have a well suit mechanism to do scaling in the kernel. However, until we convince them of this, I will back out the change to do the scaling in the device tree and we will scale from userspace.

@adamliyi can you please send a patch to perf

[2016-03-29 08:59] shenki commented on #64
The change is backed out as of https://github.com/openbmc/linux/commit/c2f2e9f1fbeead3f670eb4aa9f142bbbcd20267c and https://github.com/openbmc/linux/releases/tag/openbmc-20160329-2

[2016-03-29 09:00] shenki commented on #58
This is fixed as of https://github.com/openbmc/linux/commit/c2c9856f4e32b3f7cbeff95775cf008e03c777de in the dev-4.4 tree.

[2016-03-29 09:00] #58 closed

[2016-03-29 09:08] shenki commented on #60
Barreleye, `4.4.6-00026-gaeb4718beca0` with buildroot

[code]

[2016-03-30 03:26] shenki opened #70 "lockdep warning with 4.6-rc1"
[code]

[2016-04-11 16:24] nkskjames commented on #61
What is the status of this?

[2016-04-12 00:48] gwshan commented on #61
I don't have a chance to reproduce it locally. I will try it later of this week or early of next week.

[2016-04-15 21:52] anoo1 commented on #61
Customer reported same issue today. Any progress on recreating?

[2016-04-16 01:47] gwshan commented on #61
Not yet, I'll continue on this next Monday when sitting around the BMC :-)

[2016-04-18 02:36] #51 closed

[2016-04-18 02:47] gwshan commented on #61
I'm using "dev-4.3" branch as the base source code to debug the issue. Also the hardware platform is Palmetto. The experiment I did is as below and it should match with the experiment that James did.

- Unplug the cable;
- Load the kernel and boot it;
- ifconfig eth0 xxx.xxx.xxx.xxx, and we should see the interface is down;
- Plug the cable and issue command "ifcofig eth0 down && ifconfig eth0 up"

[2016-04-20 23:01] nkskjames commented on #61
So what next?

[2016-04-20 23:09] apopple commented on #61
@gwshan it sounds like you are expecting to receive an AEN packet but aren't? Does the device driver rely on getting this packet? If so we should try and debug why you aren't getting them.

[2016-04-21 01:20] shenki commented on #60
The issue was fixed by updating u-boot.

[2016-04-21 01:20] #60 closed

[2016-04-21 08:49] gwshan commented on #61
Yes, I expect to receive AEN indicating link change on the active channel and I don't receive it when unplugging the ethernet cable. I added some printk() in the NCSI stack and print the received AEN packet. I don't see it.

[2016-04-22 03:19] adamliyi commented on #64
@shenki ,
Hi Joel, I just found there might be some issue with the upstream adm1278 hwmon driver. Some sensors are missing, e.g, "in2_input". This stands for "Vout" register in adm1278. Customer will need this sensor.

Here is the sensors currently available:
[code]
We will need
[code]
Kernel version:
[code]
I might need to add another issue to track this problem.

[2016-04-22 03:24] adamliyi opened #71 "adm1278 driver misses "in2_input" (Vout) sensor"
There might be some issue with the upstream adm1278 hwmon driver. I haven't dig into the issue yet.
Some sensors are missing, e.g, "in2_input". This stands for "Vout" register in adm1278. Customer will need this sensor.

Here is the sensors currently available:
[code]
We will need
[code]
Kernel version:
[code]

[2016-04-22 03:57] shenki commented on #64
@adamliyi Could you add support to the existing upstream driver for these extra readings?

[2016-04-22 06:33] adamliyi commented on #64
OK. I will dig into it.

[2016-04-23 03:36] adamliyi commented on #64
Sensor resistor value added as a scale value in skeleton. Please see: https://github.com/openbmc/skeleton/pull/57.

[2016-04-25 00:48] Kenthliu opened #74 "Kernel panic after AC cycle"
We use 0.6.1 stable pure code to run AC cycle via RMC.
Attachment are the log.
[kernelpanic1.txt.txt](https://github.com/openbmc/linux/files/233770/kernelpanic1.txt.txt)
[ACfail.txt](https://github.com/openbmc/linux/files/233771/ACfail.txt)

[2016-04-25 01:00] Kenthliu opened #75 "SCU and GPIO register modify"
Please help to change the below setting since there was a GPIO debouce issue.
1E6E20A8 bit24 =1
1E780048 bit0 = 1
1E78004C bit0 = 1
1E780058 = 75300h

[2016-04-25 01:14] Kenthliu commented on #75
One more register. GPIOQ7 need to pull low when power on that make identify LED can be control.
1E780084 bit7 = 1
1E780080 bit7 = 0

[2016-04-25 18:12] nkskjames commented on #75
@Kenthliu, you could make the change yourself so you could test as well.  Change goes here:  https://github.com/openbmc/linux/blob/dev-4.4/arch/arm/mach-aspeed/aspeed.c#L128

[2016-04-26 00:19] Kenthliu commented on #75
Ok sure

[2016-04-26 01:25] shenki commented on #74
From kernelpanic1.txt.txt:
[code]

[code]

From ACFail.txt:

[code]

[code]

[2016-04-26 01:27] shenki commented on #74
Milton mentioned on IRC:

[code]

[2016-04-26 13:15] mdmillerii commented on #61
Do you get an AEN when the link drops?
Do you have a poller to make sure the NCSI selection is still active? (see 6.8.3)

[2016-04-27 02:29] Kenthliu commented on #61
@gwshan Did you try wireshark to check the packet?

[2016-04-27 03:02] johnhcwang opened #77 "Bad page map after continue AC cycle"
We use 0.6.1 stable pure code to run AC cycle by power cycle fixture.
This fixture can automatic AC on the system and then AC off after 3 minutes, and AC on again after 1 minutes.
Do this test continually and get the bad page map issue as attachment.
[0426_104918_061_FAIL](https://app.box.com/files/0/f/7654657062/1/f_62929584978)

[2016-04-27 03:07] shenki commented on #77
Can you please paste the relevant output into the bug. That link requires a sign in

[2016-04-27 03:40] johnhcwang commented on #77
Seems that github filters some characters and can not show here.
Attachment is partial context.
[0426_104918_061_cap.txt](https://github.com/openbmc/linux/files/237889/0426_104918_061_cap.txt)

[2016-04-27 03:47] shenki commented on #77
[code]

[code]

[2016-04-27 23:41] gwshan commented on #61
@Kenliu when the NCSI interface is down, no frames will be received on the
interface. So there're no packets seen on wireshark. As I mentioned before,
I add some printk() in the source code of the NCSI stack that dumps the
packets on receiving AEN packet. Nothing was dumped.

In current design, the NCSI and other (like ARP/IP) packets are transmitted
or received through same channel. When opening

[2016-04-28 03:28] jk-ozlabs commented on #61
@nkskjames If we can get some info from Broadcom about the absence of that AEN message, that'd be helpful for us.

[2016-04-28 03:44] Kenthliu commented on #61
Yes. I already sent an issue to Broadcom. Waiting for the response.
![case](https://cloud.githubusercontent.com/assets/15260220/14874807/7cfcea0c-0d36-11e6-9d16-c8159b075a55.jpg)

[2016-04-28 05:57] shenki commented on #74
@Kenthliu We were having a chat about this issue and #77. It would be helpful to attempt to recreate this issue with some kernel debugging turned on.

The options are:
[code]

You can grab a patch that enables that from https://github.com/shenki/openbmc/commit/879b5dc318a4cc47b21cb2115d5e30f102fb92a5

[2016-04-28 06:57] shenki commented on #74
There are also images built here:

https://openpower.xyz/job/openbmc-build-pull-request/150/distro=ubuntu,target=barreleye/artifact/images/barreleye/

[2016-04-28 09:11] johnhcwang commented on #77
After running with the image from https://github.com/openbmc/linux/issues/74#issuecomment-215328524
[code]

[code]

[2016-04-28 10:07] shenki commented on #77
@johnhcwang can you please attach the output of dmesg as well?

[2016-04-29 00:00] johnhcwang commented on #77
[code]

[2016-04-29 08:52] Kenthliu commented on #75
Done.
https://github.com/openbmc/linux/pull/78

[2016-05-06 07:21] shenki opened #79 "Firestone PHY only works in mode 100base-T"
The Firestone openpower board has a BCM54210E, but it doesn't work in 1000base-T.

Gavin worked around this by changing the PHY driver to only advertise 100Mbit:

[code]

We need to work out what is going on. Ben said:

Our Firestone machines are pre-production hardware.

[2016-05-06 12:37] Kenthliu commented on #61
Hi @gwshan and @jk-ozlabs
Response from Broadcom. Do you agree this?
![aen](https://cloud.githubusercontent.com/assets/15260220/15073126/571a8354-13ca-11e6-9aea-c3316b9e34ca.jpg)

[2016-05-06 12:50] Kenthliu commented on #77
@shenki Any update about this issue? Is there fix in 0.7? Thanks.

[2016-05-06 14:12] gwshan commented on #61
Hi Ken, Thanks for checking with broadcom on this. It sounds the case. I
will enable that explicitly with AEN enable
command packet. Prior to that, I have to introduce some changes to farady
driver so that we can always receive
ingress NCSI packets.

However, the statement you had isn't always true according to the
experiment I did. Initially, I never send a AEN enable
packet to target NCSI channe

[2016-05-06 16:02] mdmillerii commented on #77
The log shows there was an write to the first byte of a freed object.  The previous and next objects were free in one case and a message that did not run to the end in the other case, so not the likely cause.   I am going to change the code to force on some additional debugging and attempt to recreate on one of our systems.

[2016-05-07 01:35] gwshan commented on #61
Thanks again for Ken's feedback from Broadcom. I added some code in the
NCSI stack to enable AEN explicitly by transmitting a AEN enablement packet
on the active channel. I can receive AEN packet from far end (broadcom)
when unplugging the cable. However the AEN packet is still missed when
plugging the cable. I assume something is missed in the code. I will
continue the debugging.

2016-05-07 0:12

[2016-05-09 01:59] gwshan commented on #61
A pachset sent to maillist for review. The issue is fixed by it. I had below testing with the patchset on palm4-bmc. Everything looks good:

   * From uboot, download the kernel image;
   * Unplug the ethernet cable;
   * From uboot, boot the kernel image;
   * Configure the ethernet interface when the kernel boots up completely.
     The NCSI interface should be down;
   * Plug the cable, the NCS

[2016-05-10 01:41] nkskjames commented on #77
@mdmillerii did you reproduce this issue?

[2016-05-10 13:29] mdmillerii commented on #77
I've hit this a few times, its not near 100% maybe 5-10% of the time.  I'm proceeding to figure out which path through the code is turning off the additional debug after the initial lines turn it on, and then will try in earnest to get a hit with the additional debug flags.

[2016-05-11 01:45] mdmillerii commented on #77
I was able to force slab red zone on the kmalloc caches. This showed phosphor-read-eeprom was causing a buffer freed in kernfs_fop_read to be overrun 1 byte.  Investigation shows 3 calls to that program in Barelleye.py reading eeprom using the at24 driver.  A simple cat failed to reproduce but after looking at strace output the dd command with a buffer size of a kmalloc slab will fail (128, 256, 1

[2016-05-11 04:11] adamliyi commented on #71
The bug is fixed by PR: https://github.com/openbmc/linux/pull/80
After fixing:
[code]

[2016-05-11 05:27] shenki commented on #71
This fix is in kernel tag https://github.com/openbmc/linux/releases/tag/openbmc-20160511-1

[2016-05-11 09:07] Kenthliu commented on #77
@mdmillerii We use 0.7 and SOCflah to update. The system will hang in booting the kernel sometime, and also found kernel panic.
[ACHang.txt](https://github.com/openbmc/linux/files/258931/ACHang.txt)
[ACHang2.txt](https://github.com/openbmc/linux/files/258932/ACHang2.txt)

[2016-05-12 02:42] #71 closed

[2016-05-12 02:58] shenki commented on #75
https://lists.ozlabs.org/pipermail/openbmc/2016-May/002853.html

[2016-05-13 02:39] amboar commented on #75
@Kenthliu I've replied to @shenki 's review email. In summary, I think we need to configure the debounce in the way that you have in #78, but configuring the directions should be done through skeleton's `bin/Barreleye.py` or @anoo1 's LED driver.

[2016-05-13 02:55] Kenthliu commented on #75
Yes. For GPIOQ7, I can do that. But for debounce issue, we have to change SCU register to enable. Can Barreleye.py do that?

[2016-05-13 03:00] amboar commented on #75
@Kenthliu personally I'd leave any debounce configuration in the board file. When I've completed the pinctrl driver we can configure it that way. That's a while off though

[2016-05-16 22:42] mdmillerii commented on #77
Booted  with `log_buf_len=16M` and after the boot `echo module i2c_aspeed +p > /sys/kernel/debug/dynamic_debug/control` and `dd bs=4 count=1 if=/sys/bus/i2c/devices/0-0050/eeprom of=/dev/null` then `dmesg | grep i2c-0' showed:
    [  670.670000] i2c_aspeed i2c-0: state    [0], SCL    [1], SDA    [1], BUS    [0]
    [  670.670000] i2c_aspeed i2c-0: ast_i2c_do_byte_xfer W: addr 50 start, len 2
    [

[2016-05-20 02:31] mdmillerii commented on #77
@mdmillerii/linux@e1079d1470b58d822815d170ff729d9480aed43b shows that the overflow occurs on each read.  @shenki can someone who has worked on the driver propose a proper fix?  I don't know what the variables are for in the state machine.

Also, if we ever retry a query_len transaction it looks like we will extend the length each retry.

[2016-05-20 05:33] jk-ozlabs commented on #77
@mdmillerii : good catch there.

What's unexpected is this:

    [ 670.670000] i2c_aspeed i2c-0: irq! status 0x00000004, cmd 0x135d0000
    [ 670.670000] i2c_aspeed i2c-0: ast_i2c_master_xfer_done xfer 3
    [ 670.670000] i2c_aspeed i2c-0: irq! status 0x00000010, cmd 0x0a060000

Here, the command register value (`0x135d0000`) tells us that the normal stop and read commands that we issued is comple

[2016-05-24 01:14] shenki commented on #61
I think this is resolved. Please re-open if it happens again.

[2016-05-24 01:14] #61 closed

[2016-05-24 01:18] shenki opened #85 "Investigate why we need CONFIG_SHMEM=y"
@amboar wrote:

The `CONFIG_SHMEM` Kconfig has this to say:

This suggests that when we disable `SHMEM` we should still be okay, and as we're a "small system without swap" this is an appropriate thing to disable. Perhaps there is some breakage upstream?

[2016-05-24 05:28] shenki opened #86 "ftgmac100 leaking on 4.7"
Observed on the ast2500-evb:

[code]

[2016-05-25 04:01] jk-ozlabs commented on #77
Working on a fix here.

[2016-05-25 04:33] shenki opened #87 "ftgmac100 can't be instantiated twice"
On the ast2500-evb we have two Ethernet devices in the device tree:

[code]

[2016-05-25 10:42] jk-ozlabs commented on #77
OK, I think this should fix the problem: https://github.com/jk-ozlabs/linux/commit/a33fa2a2e6bbb668b2e4d5c44644d42e2d116df7

I've push a new branch with that fix on top of the dev-4.4 code, to help with testing: https://github.com/jk-ozlabs/linux/commits/openbmc/i2c-completion-fix

[2016-05-26 01:22] Kenthliu commented on #77
OK Jeremy. We will try the patch do the AC cycle for weekend. Thanks.

[2016-05-26 02:13] shenki commented on #77
This looks good @jk-ozlabs, thank you for spending the time on it.

@Kenthliu please report back on how your tests go

[2016-05-30 06:20] Kenthliu commented on #77
We still see kernel panic during 782 times AC cycle over weekend.
Please take a look to below log.
[accycle.txt](https://github.com/openbmc/linux/files/288912/accycle.txt)

[2016-05-30 06:24] jk-ozlabs commented on #77
OK, we'll need to keep investigating here.

[2016-05-31 01:25] amboar commented on #77
Here's a mostly scripted extraction of interesting boots in @Kenthliu's accycle.txt. It probably hasn't caught all the failures. boot-003.log looked boring enough to use as a reference. Scripts for extraction are included.

[interesting-logs.zip](https://github.com/openbmc/linux/files/290203/interesting-logs.zip)

[2016-06-01 21:02] mdmillerii commented on #77
Thanks @amboar.   I looked through the logs.  Many of them happen earlier than the previous round of oopses.  Since I do not see the extra messages from the u-boot patch in the 0.6.1 branch, so  I need to ask what version of `u-boot` was running?   If it was from the 0.8.1 openbmc build it is missing the patches to stop the network, which was just merged via openbmc/openbmc#304 on Thu May 26 09:43

[2016-06-02 03:14] mdmillerii commented on #77
@Kenthliu please see instructions in previous comment.

[2016-06-02 03:50] Kenthliu commented on #77
Hi @mdmillerii Not sure what I need to do. Let me summarize, what the patch or commit miss in 0.8.1? I have to build another test version with below config, right?
CONFIG_UBSAN=y
CONFIG_UBSAN_ALIGNMENT=y
CONFIG_DEBUG_OBJECTS=y
CONFIG_DEBUG_OBJECTS_FREE=y
CONFIG_DEBUG_SLAB=y
CONFIG_DEBUG_SLAB_LEAK=y
CONFIG_DEBUG_KMEMLEAK=y
CONFIG_DEBUG_MEMORY_INIT=y

[2016-06-02 06:25] amboar opened #88 "ftgmac100 oops with AST2500 EVB"
The skbuff associated with the current rxdesc becomes corrupted. Here's the boot log with oops (and some extra printk()s):

[code]

[2016-06-02 06:27] amboar commented on #88
To probe the ftgmac100 driver we first need to switch to the old MII register interface. The patches at 6e80552cf0f129370d214ea4081e3adf5b125b37 should be enough to reproduce the oops.

[2016-06-02 06:57] Kenthliu commented on #77
0.8.1 Uboot version https://github.com/openbmc/openbmc/blob/v0.8.1/meta-phosphor/common/recipes-bsp/u-boot/u-boot-fw-utils_2013.07.bb
Under this commit
https://github.com/openbmc/u-boot/commit/4b44678c11ac82c7c797bb115e276181752ad54d

[2016-06-02 12:52] mdmillerii commented on #77
@Kenthliu please retest with the current `u-boot` version merged in openbmc/opennmc#304 and the kernel from @jk-ozlabs.  If you still see issues then add the configs you mentioned and post the log.  Note: you can configure with the debug configs if you want to save a step but if it's clean then you will need to retest without them.

[2016-06-03 03:08] Kenthliu commented on #77
I will add all the patches and retest this weekend.
This is my repository brach.
https://github.com/Kenthliu/linux/commits/dev-4.4

[2016-06-03 07:49] mdmillerii commented on #77
Since e1079d1470b58d822815d170ff729d9480aed43b emits a warn it's okay to include it but it should not be needed.  Are you including the debug configs?  You will use the new `u-boot` too, right?

[2016-06-03 08:28] Kenthliu commented on #77
Yes I include the debug config in my local branch. It should use the latest uboot, but I don't know how to tell the version.

[2016-06-03 14:54] shenki opened #89 "i2c errors on ast2500 platform"
At boot, the first i2c bus that is active will print this forever:

[code]

[2016-06-03 16:38] shenki opened #90 "CONFIG_NET_NSCI=n and having ncsi in device tree breaks sliently"
We should warn when this happens, and/or not enable NSCI. Currently it fails silently.

[2016-06-03 19:22] shenki opened #91 "NCSI not working on ast2500"
Running dev-4.7 with @amboar's ftgmac100 fixes on an ast2500 platform with NCSI, we boot and bring up the device:
[code]

Seen that before on palmetto. Normally bringing the device down and back up again a few times works. However it does not in this case:

[code]

[2016-06-03 19:42] shenki commented on #91
With some further tracing:
[code]

[2016-06-03 21:36] shenki opened #92 "Add CI for kernel tree"
Now that we have a Qemu model of the ast2400 and ast2500 we should do builds and boot test on openpower.xyz

[2016-06-06 01:09] Kenthliu commented on #77
We ran AC cycle about 423 times over night. So far seems good.

[2016-06-06 02:19] Kenthliu commented on #75
Both commit fix this issue. It can be closed.
https://github.com/openbmc/linux/commit/4dbfab2f3c9167e8f40df6a4805b2b4eab673c47
https://github.com/openbmc/skeleton/commit/584747e83666e5661fea8e445956c4f4ff0c9cac

[2016-06-06 02:19] #75 closed

[2016-06-06 21:14] shenki commented on #77
Thanks. I've merged @jk-ozlabs's patch into our kernel trees, and created a new kernel tag for inclusion

 https://github.com/openbmc/openbmc/pull/313

[2016-06-06 21:15] #77 closed

[2016-06-06 21:17] shenki commented on #74
I think this is the same as https://github.com/openbmc/linux/issues/77

[2016-06-06 21:17] #74 closed

[2016-06-08 03:48] mdmillerii opened #94 "multi sector erase and write broken"
When `fw_setenv` tries to erase the whole 128kB environment with one `ioctl` call the erase gails and the flash status register shows programming error status.  Breaking the erase command into erase blocks should be handled by the `spi-nor` layer but is not working as of 4.3.

The `busybox` `flash_cp` command always uses one erase block per system call and is ok.  The workaround is to copy the env

[2016-06-24 13:56] anoo1 opened #95 "[Barreleye] ftgmac100 1e660000.ethernet eth0"
@Kenthliu reported the following issue with tag openbmc tag v1.0:

Test AC cycle fails:
We found a lot of "kernel[]: ftgmac100 1e660000.ethernet eth0: rx crc err" and "kernel []: ftgmac100 1e660000.ethernet eth0: rx frame too long" messages in BMC console.

Here is the AC cycle step

1. AC on
2. BMC power on and enter to host
3. There is a script in Ubuntu system. The script will send command to R

[2016-06-25 05:18] shenki commented on #95
What is RMC?

Have you looked at packets on the network using wireshark or similar?

The warnings in the logs are due to the hardware detecting

[2016-07-19 20:09] williamspatrick opened #96 "kernel unable to access tmp421 and ds1307"
@bradbishop commented on [Wed Jun 29 2016](https://github.com/openbmc/u-boot/issues/12)

Similar to https://github.com/openbmc/u-boot/issues/11, this seems to be a hangup for the kernel due to the move from 2013.07 to 2016.05.

On bmc boot the rtc and tmp421 sensor cannot be accessed:

rtc-ds1307: probe of 0-0068 failed with error -5
tmp421 2-004c: Could not read configuration register (-5)
tmp421

[2016-07-25 23:10] ya-mouse commented on #87
I've made a duty patch to fix this issue:
https://github.com/ya-mouse/openbmc-target/blob/master/aspeed/patches-4.4/0060-openmouse-aspeed-fix.patch

[2016-08-04 07:58] johnhcwang opened #98 "LED sub-node property "default-state" is not working"
Currently the beep LED turns to OFF during kernel loading.
I tried to keep beep LED as solid ON and plan to turn it off by skeleton service once it is available.
Depend on the [LED sub-node properties descriptions](https://www.kernel.org/doc/Documentation/devicetree/bindings/leds/leds-gpio.txt), it can be accomplished by **default-state = "on"**, but it is not working. The LED will be turned to OF

[2016-08-04 23:54] amboar commented on #98
@johnhcwang what kernel are you running? Perhaps adding some instrumentation to `drivers/gpio/gpio-aspeed.c` would provide more insight, specifically `aspeed_gpio_dir_out()`.

Also, can you provide the output for `devmem 0x1e6e2088` and `devmem 0x1e6e2090`?

[2016-08-05 02:22] johnhcwang commented on #98
The kernel I'm running is 4.4 and the aspeed_gpio_dir_out() only configure the GPIO direction.
The variable _val_ is unused.

The multi-function setting should be OK, the pin is GPIO function.
[code]

[2016-08-05 03:53] amboar commented on #98
@johnhcwang right! Can you apply 5a41f2aa5f2573874f4098a300bebabf5758de20 and give it a test?

[2016-08-05 07:46] johnhcwang commented on #98
@amboar ,cool! It's working. Thanks.

[2016-08-15 01:51] shenki commented on #62
This has been resolved in dev-4.4 as of 2e4db6c6be91ade074c1a150a6db2aeb4920e25c and is also fixed in the dev-4.7 tree.

[2016-08-15 01:51] #62 closed

[2016-08-15 01:52] shenki commented on #70
Have not seen this for some time. We have moved away from this tree.

[2016-08-19 00:58] shenki commented on #89
This was resolved during witherspoon bringup.

 bb81bfb8ebfe72a0d6d6dc5536b4cf88a9fa1234 i2c/aspeed: Do not enable SMBUS Alert IRQ

[2016-08-19 00:58] #89 closed

[2016-08-19 00:58] #88 closed

[2016-08-19 01:00] shenki commented on #91
ast2500 requires the old mdio interface to be enabled, as well as some other changes:

ab753f2f6623f12ae459e6f693db8997db45f985 drivers/net/ftgmac100: Adapt for Aspeed SoCs
83bef141ee84036914ad29be97d7eb981538d0e8 drivers/net/ftgmac100: Make EDO{R,T}R bits configurable
c0cbc1776dd474717aa2ff786a01a6c1b9631bb3 drievrs/net/ftgmac100: Separate rx page storage from rxdesc

[2016-08-19 01:00] #91 closed

[2016-08-19 01:04] shenki commented on #90
Fixed in dev-4.6 with cdff4c2e2dfbda7b425c9ad148e0824824ae71b1 net/ethernet/ftgmac100: Warn when nc-si enabled.

The version that went upstream is 83b454f737a87a8f5a5b27652b48a9016548003c.

[2016-08-19 01:04] #90 closed

[2016-08-19 01:06] shenki commented on #86
Have not seen in a number of months

[2016-08-19 01:06] #86 closed

[2016-08-19 01:09] shenki commented on #96
This has been resolved with the move to dev-4.7

[2016-08-19 01:09] #96 closed

[2016-08-19 01:15] shenki commented on #95
Has this been seen since June?

[2016-08-19 01:19] shenki commented on #94
@mdmillerii is this still an issue that needs to be tracked?

[2016-08-19 01:37] shenki commented on #98
This has been merged into the dev-4.4 tree as aa65fa6cf3c3a558e009fb2c934b85974c2733db. It is part of the tag openbmc-4.4-20160819-1.

[2016-08-19 01:37] #98 closed

[2016-08-19 21:40] mdmillerii commented on #70
Actually, taking a look, this occurs when` CONFIG_JFFS2_FS_WRITEBUFFER` is enabled but the flash does not require a write buffer (because its not UBI, NAND, or DATAFLASH, and the NOR was flagged BIT_WRITABLE).  In that case `jffs2_sync_fs` calls `cancel_delayed_work_sync` on the `wbuf_dwork` to clear the write buffer but the work was never setup in `wbuf.c` because `jffs2_flash_setup` in fs.c neve

[2016-08-23 19:00] GHF opened #100 "aspeed-smc driver support for AST2500 SPI flash controller"
We need to support the register layout for the AST2500 SPI flash controller, selected by compatible = "aspeed,ast2500-smc";

[2016-08-23 19:15] mdmillerii commented on #100
Yes we do ... its on my list ...

For the time being selecting the 2400-fmc will provide basic support (for all 3 copies).

[2016-08-26 01:00] amboar opened #101 "fib6_walk_continue: Unable to handle kernel paging request at virtual address 12005456"
I've seen this panic with 6d93f625315a1e9b51d017a78f8c0938a097ea85 a number of times under qemu's palmetto-bmc machine. Unsure at this stage whether it's the kernel or something qemu is doing wrong and I admit my qemu build is a bit of a mashup, but here's the panic output:

[code]

[2016-08-26 03:51] amboar opened #102 "unlink_anon_vmas: Unable to handle kernel paging request at virtual address 12005452"
Same kernel/qemu configuration as #101, but with a different backtrace:

[code]

[2016-08-26 03:55] amboar opened #103 "cgroup_pidlist_start: Unable to handle kernel paging request at virtual address 1200544e"
Same kernel/qemu configuration as #101, but different backtrace:
[code]

[2016-08-26 03:56] amboar commented on #103
Immediately followed by:

[code]

[2016-08-30 00:45] shenki commented on #95
Please reopen if you can reproduce this issue

[2016-08-30 00:45] #95 closed

[2016-08-30 01:19] williamspatrick commented on #85
I thought systemd might use it, but when I look at my desktop it is only used for pulseaudio.  My system has /dev/shm mounted as tmpfs though.

[2016-08-30 01:20] williamspatrick commented on #85
Oh, this disables tmpfs.  We want that over ramfs.

[2016-08-30 16:19] mdmillerii commented on #85
It enables full tmpfs with swap backing.   A basic tmpfs is supposed to be enabled without it.

[2016-08-31 23:49] shenki opened #104 "Crash and panic on Qemu"
@legoater's qemu branch v2.7.0-rc3-44-g55a516509b33
Current tip of dev-4.7 v4.7.2-56-g88af72b8ecff

[code]

[2016-09-01 00:17] amboar commented on #104
@shenki probably related to #101, #102 and #103?

[2016-09-01 09:08] legoater commented on #104
I suppose #104 and #101 are the same. #102 an #103 seem different.

In `net/ipv6/ip6_fib.c`, `fib6_walk_continue` starts with this comment :
[code]

so, how are you starting the guest  ? I suppose with :
[code]
as I see :
[code]
which means that the fake NCSI backend is active.

Are you booting with uboot or directly from qemu with -kernel with a custom kernel ?

[2016-09-02 04:49] amboar commented on #104
@legoater I was booting using -kernel and a custom kernel for the issues I reported.

[2016-09-02 04:53] shenki commented on #104
[code]

[2016-09-02 14:41] legoater commented on #104
so I reproduced once after 20/25 reboots.  This is going to go be complex to track. Do you have some kind of scenario ?

[2016-09-06 10:49] shenki opened #105 "NCSI backtrace"
dev-4.7 7b7b6e87d3d94dd7813f5ef288d2be9c890dce6d on a Palmetto

[code]

[2016-09-06 11:16] shenki commented on #105
[code]

[2016-09-07 04:50] gwshan commented on #105
Joel, please help to provide more info on how to recreate the issue. Sometimes, this issue (the unexpected backtrace) happens when bringing down the network interface and then bring it up afterwards. It's known issue and I'm introduce a new NCSI API (ncsi_stop_dev()) to fix it.

[2016-09-07 04:54] shenki commented on #105
The first issue I saw twice in a row when performing a pflash operation. This is a long running userspace task that does not involve the kernel all that much, aside from reading 32MB from a tmpfs.

[2016-09-08 06:11] gwshan commented on #105
Thanks, Joel. There is a monitoring timer (for every NCSI channel) running in back-off period. It's monitor the link status. If the timer cannot be served in time, the NCSI link is considered as down, then you see below message. The timer is restarted and expect the link will come back soon. It seems the timer isn't served in time and the link is considered down though it's up in hardware.

ftgmac

[2016-09-15 23:30] mdmillerii commented on #51
I was able to recreate this on my latest 4.7 kernel by:
1. boot kernel
2. `pflash -m -i` works
3. `pflash -i` (without `-m` so using direct register access)
4. `pflash -m -i` complains chip looks erased.
5. restoring 0x1e630004 with `devmem` did not fix `pflash -m -i`
6. `devmem 0x30000000 32` is not `0xff` data (nor a few small offsets).  (did not try `/dev/mtd7`)
7. `pflash -i` continued to work

[2016-09-15 23:44] cyrilbur-ibm commented on #51
On Thu, 2016-09-15 at 16:30 -0700, Milton D. Miller II wrote:

I hesitate to say that this is working as intended...

When you do a -m you're using the kernel driver. If you drop the -m
you're accessing hardware directly as you've correctly pointed out, at
that point the state of the hardware has changed out from under the
kernel, the most common response from the hardware when a drivers
actions d

[2016-09-15 23:56] mdmillerii commented on #51
@cyrilbur-ibm actually it did not make it working, but it may be a mismatch between the kernel and the state of the flash eg command size.   So in some regards this says we should choose between the kernel knowing about this hardware and pflash managing it with the host.

This sort of goes back to the plan for openbmc/openbmc#553 and my comment in the driver [line 415-418](https://github.com/openb

[2016-09-16 00:21] cyrilbur-ibm commented on #51
On Thu, 2016-09-15 at 16:56 -0700, Milton D. Miller II wrote:

Were you running pflash on the host? What was the BMC doing during this
time? This is quite a different situation.

I'm quite sure I ripped out direct access by pflash on the host. When
running on the host pflash will access the flash through firmware
(skiboot) via linux and MTD, I believe skiboot and the BMC do have a
method for arbit

[2016-09-16 00:30] mdmillerii commented on #51
I was running the `pflash` binary on the BMC that was in the root fs already on my target system (some rev ~120 commits past 1.0.0 according to `/etc/os-release`).  I did not try booting the host.  I know `pflash` will tune for fast-read while the kernel still does slow reads.  The kernel driver tries to use a conservative clock value which is in the control register.  It should always write the f

[2016-09-16 00:38] cyrilbur-ibm commented on #51
On Thu, 2016-09-15 at 17:30 -0700, Milton D. Miller II wrote:

already on my target system (some rev ~120 commits past 1.0.0
according to /etc/os-release).  I did not try booting the host.  I
know pflash will tune for fast-read while the kernel still does slow
reads.  The kernel driver tries to use a conservative clock value
which is in the control register.  It should always write the full
contro

[2016-09-19 08:43] shenki opened #106 "ftgmac100 spams PHYSTS_CHG"
[code]

[2016-09-19 08:43] shenki commented on #106
This is with the latest patchset as in dev-4.7.

@gwshan, this is what I was speaking about today.

[2016-09-19 09:06] shenki commented on #106
The patches as I have tested them are here:

 https://github.com/shenki/linux/tree/dev-4.8-ftgmac100

[2016-09-19 09:51] shenki commented on #106
MAC Control Register (MACCR, offset 0x50), bit 11: PHY link level sensitiver selection.

`0` high level sensitive, `1` low level sensitive.

[2016-09-19 23:53] gwshan commented on #106
@shenki could you please dump registers (0x4, 0x50) when seeing the PHY link status interrupt? I did some experiment on AST2400 this morning. IER[9] should be set in order to see this interrupt. Besides, MACCR[11/6] should be set to 0b00. With all other values set to MACCR[11/6], I cannot see the bogus interrupt. It seems this PIN (GPIO-A0) is always in high level (voltage).

[2016-09-20 03:33] shenki commented on #106
[code]

[code]

[2016-09-20 04:00] shenki commented on #106
@gwshan I cleared bit 11 and the interrupts went away. However, they came back after the cable was unplugged. I suspect this is due to the driver calling `ftgmac100_adjust_link` -> `ftgmac100_start_hw` which writes `MACCR_ENABLE_ALL` to `MACCR`.

I rebuilt my driver with bit 6 set (Phy link status detection: edge sensitive), and bit 11 cleared. The driver works as expected, including unplugging an

[2016-09-20 04:07] gwshan commented on #106
@shenki, we prefer the later one:  bit 6 cleared (Phy link status detection: level sensitive), and bit 11 set (low-level sensitive)

[2016-09-20 05:22] shenki commented on #106
[code]

[2016-09-20 06:57] shenki commented on #106
Sent upstream: http://marc.info/?l=linux-netdev&m=147435308223085&w=2

[2016-10-02 09:49] shenki commented on #106
These patches have been merged into net-next which will become 4.9

[2016-10-02 09:49] #106 closed

[2016-10-06 06:58] ya-mouse opened #107 "moxa_timer reload issue"
I observe an issue in the  **moxart_clkevt_next_event**. Right after the timer has been disabled, the new value for MATCH1 register calculated based up on the current COUNT register. Regarding to the datasheet, then timer is disabled then it's counter register have to be reloaded with a RELOAD register. But it seems it is not. We read current value near the same as MATCH1 (we stops counting a litt

[2016-10-06 07:03] ya-mouse commented on #107
Another one approach – do not disable TIMER1 and just update MATCH1 based on current COUNT register. It works too.

[2016-10-14 12:47] legoater commented on #100
Just pushed a tree with the support for AST2500 :

https://github.com/legoater/linux/commits/openbmc-4.7

[2016-10-17 19:22] mdmillerii commented on #100
For others watching, the mdmillerii/linux@023a77be1712912a59db90cc6b949cd1978e38d3 in the spi-nor-4.7-wip branch has had support for the ast2500 variants and the spi-nor-4.8-wip branch has support on an early 4.8 base.   The merge process into openbmc/linux is taking additional time.

[2016-10-17 23:48] shenki commented on #100
Patch has been posted to the openbmc list by @legoater and a first review has been completed by myself.

Following review, this patch has been sent upstream for review:

 http://lists.infradead.org/pipermail/linux-mtd/2016-October/069726.html

[2016-10-28 12:54] mjturek opened #108 "Kernel panic when running qemu palmetto-bmc machine"
I'm hitting a kernel panic when running the qemu palmetto-bmc machine.

I'm building qemu from the upstream openbmc/qemu tree, using steps described [here](https://github.com/openbmc/docs/blob/master/cheatsheet.md#building-qemu).

[code]

Version looks correct for the newly built QEMU
[code]

I build the image with the steps described [here](https://github.com/openbmc/docs/blob/master/cheatsheet.m

[2016-10-28 15:42] legoater commented on #108
Hello, thanks for the report, it clearly identifies the issue.

The newer kernels make use of a feature of the SMC controller which is not yet supported in the openbmc/qemu.  The code is ready in mainline but we still need to do the merge.

I will chat with @amboar next week to schedule that.

[2016-11-01 13:16] mjturek commented on #108
Thanks! Looks like it's working!

[2016-11-02 11:52] amboar opened #109 "NCSI backtrace on 4.9-ish kernel"
Seen on palm5 in the ADL. Running a hacked up 4.9-ish kernel for pinmux testing. Recording for posterity.

[code]

[2016-11-02 12:05] amboar commented on #109
Note this was correlated with running a script to poke at all the gpios I could export on the system. No doubt I've upset some hardware that pinmux isn't preventing me from accessing due to earlier function/group selection.

[2016-11-02 13:22] shenki commented on #109
Was there anything else in dmesg? "Wrong NCSI state" would have been interesting.

Can you repro by poking at GPIOA7, GPIOA6, GPIOR7 or GPIOR6?

Those are the MDIO pins for mac2 and mac1. If you can reproduce, does this fix the issue?

[code]

We should probably submit the patch regardless :)

[2016-11-02 22:46] gwshan commented on #109
Andrew, I'm not what the script was doing. It seems it affected the NCSI
interfaces either by GPIO PINs used by NCSI interface or host power
control. According to the backtrace, the monitor was disabled when it's
enabled again. I need more info:

- kernel log.
- the script operating the GPIO PINs.
- Last NCSI patch (commit) included in your kernel (some patches merged to
Linux-next, not arrived in

[2016-11-03 00:10] amboar commented on #109
@gwshan I wouldn't get too concerned (yet). For the record, the script flipping the gpios is here: https://github.com/shenki/aspeed-kernel-tests/blob/master/set-gpios. It's clearly going to cause a bit of hardware state carnage; it's mainly written for testing on the AST2500 EVB but we don't have an equivalent for the AST2400.

With respect to NCSI, the most recent non-merge commit according to `g

[2016-11-04 04:34] amboar opened #110 "Update g4-based platforms' fmc node with pinmux configuration"
The following platforms don't update the flash nodes to set status = "okay" or configure pinmux:

aspeed-bmc-opp-barreleye.dts
aspeed-bmc-opp-firestone.dts
aspeed-bmc-opp-garrison.dts
aspeed-bmc-opp-palmetto.dts

[2016-11-10 13:56] ya-mouse opened #112 "[i2c-aspeed] ERROR: Bad of_node_put()"
I still have an ERROR on [of_node_put](https://github.com/openbmc/linux/blob/dev-4.7/drivers/i2c/busses/i2c-aspeed.c#L1059). If I just comment it out, everything seems ok.

Log trace:
[code]

[2016-11-11 11:06] ya-mouse opened #113 "kernel cmdline override by bootloader"
I'm trying to override kernel's cmdline within u-boot but with default config I fail.
If I make unset for the following configs:
[code]
then I'll be able to overwrite cmdline.
I've put DTB on separate partition on mtd and pass it's address to **bootm**.
Also, I've tried to combine while keep ARM_APPENDED_DTB config:
[code]
but no luck. Kernel's cmdline is set only within embedded/loaded DTB's cmdl

[2016-11-15 05:04] cyrilbur-ibm opened #114 "Unreliable pnor access through /dev/mtd"
I've been doing some work which relies on /dev/mtd7 "pnor" and using it has been unreliable. I've essentially been wanting to put all of the pnor into ram or into another file.

Depending on the kernel version different things happen, with:
[code]
My test code succeeds, once. The second time it reads all 0xff into the file.

With a recent rework by Cedric there's a nice oops:
[code]
Note: I believ

[2016-11-15 05:52] shenki commented on #114
I tested on a Palmetto with a platform a mx66l51235l (65536 Kbytes) and could not reproduce. The flash contents looked good to me.

4.7.10-0edfa645374197350f6e64e32ef142bb4ab41b31

[2016-11-18 00:45] cyrilbur-ibm commented on #114
Appologies for the delay!

I couldn't find that sha in my tree.

I've done testing against: 9e654d63fbc0b383944d8a13914669547f27d904

Reliability of /dev/mtd7 has greatly increased, I've still had it return all 0xff in my buffer while succeeding the read() call. This was detected by the mtd test program above. Unfortunately it is quite rare now and I don't seem to find a good way to reproduce.

I

[2016-11-18 05:37] shenki opened #117 "Make defconfig usable with OpenBMC"
If we try to use the aspeed_g4_defconfig built kernel to boot the rest of OpenBMC, such as `ast# bootm 0x43000000 0x20300000`, it fails to mount the initrd.

This is the list of differences between the aspeed_g4_defconfig and the OpenBMC defconfig:

[code]

[2016-11-18 07:41] legoater commented on #114
could you a run a "md5sum /dev/mtd7" in a loop ?

[2016-11-18 13:27] legoater commented on #114
I have run some mtd-utils torture tools on the evb and the palmetto and could not reproduce.
Here are the binaries for OpenBMC if you want to give a try : http://kaod.org/openbmc/mtd-utils/

Unfortunately, I can not boot the palmetto for the moment. But that is a good test.

[2016-12-01 04:25] shenki opened #119 "dev-4.7+ segfault in qemu"
[code]

[2016-12-01 12:38] shenki opened #120 "of_i2c: modalias failure with recent kernels"
On Palmetto, built as part of OpenBMC:

[code]

[2016-12-01 23:12] amboar commented on #119
Odd spot for the crash... maybe memory corruption?

[2016-12-02 09:08] legoater commented on #119
This is similar to #102.  Not obvious at all.

[2016-12-07 10:24] ya-mouse opened #121 "[FDT] kernel panic on crc32"
With enabled DTB append and a patch for DTB overlay support, I've got an error during parse stage of appended to the kernel fdt:
``
[    0.400000] Freeing initrd memory: 1532K (c0800000 - c097f000)
[    7.110000] Unable to handle kernel paging request at virtual address cf800004
[    7.110000] [<c0284f64>] (crc32_be) from [<c06161a8>] (of_fdt_raw_init+0x30/0x78)
``
The problem in the range of the

[2017-01-30 11:18] shenki opened #123 "Crash at login on Qemu"
```Linux version 4.7.10-e62c7f11175525c028d9a6abaf6a2a5c275664d1 (jenkins@hudson) (gcc version 5.3.0 (GCC) ) #1 Wed Nov 16 04:25:06 UTC 2016```

[code]

[2017-01-30 12:12] amboar commented on #123
This is in similar territory to #101

[2017-02-02 11:35] shenki opened #124 "NCSI warning in ncsi_start_channel_monitor"
From https://github.com/openbmc/openbmc/issues/1064

`VERSION_ID="v1.99.1-82-gbfd622e-dirty"`

`4.7.10-f26558191540830589fe03932d05577957670b8d`

[code]

[code]

[2017-02-03 06:23] gwshan commented on #124
Joel, thanks for opening a bug to track it down. I already had an fix to address it. As it's trivial fix and this issue won't cause more serious problem, I will post the patch together with others for review afterwards.

[2017-02-10 00:54] shenki opened #125 "gpiolib backtraces when requesting invalid pin"
We should work out if we're missing a sanity check in our driver, or if this is something that all drivers do.

If it's common to all drivers we should chat with upstream about it. Userspace shouldn't be able to trigger a backtrace from normal behaviour. We could propose a patch to turn it into a dev_warn or similar.

[code]

[2017-02-13 01:16] shenki opened #126 "Crash after reboot"
Running bac7bfe5454bc54f956cd5dadcfcb24369fa42df on Qemu (Romulus), I rebooted the system with `kill 1`. After booting the second time I got this:

[code]

[2017-02-13 09:57] legoater commented on #126
#102 again.

[2017-02-13 10:02] #126 closed

[2017-02-13 10:02] #119 closed

[2017-02-13 10:13] legoater commented on #25
now that qemu can boot flash images for the palmetto and romulus platforms, may be we can close this issue ?

[2017-02-13 10:14] legoater commented on #114
Is this still an issue ?

[2017-02-13 10:15] legoater commented on #100
I think this issue can be closed now.

[2017-02-13 10:25] shenki commented on #114
Lets close

[2017-02-13 10:25] #114 closed

[2017-02-13 10:25] shenki commented on #100
Congratulations on your hard work in getting the driver upstream in 4.11 @legoater. Great work.

[2017-02-13 10:26] #100 closed

[2017-02-20 04:50] shenki opened #127 "jffs2 backtrace on 4.10"
I was booting a 4.10 based kernel with the upstream mtd driver appied and I got this one:

[code]

[2017-02-20 07:35] legoater commented on #127
A fix is in the spi-nor  [repo](https://github.com/spi-nor/linux/commits/next) and the warning should be removed in 4.11. May you could pull the commit in linux-openbmc when it is merged in the linux tree

[2017-03-06 02:38] shenki opened #128 "4.10: lockdep warning when rebooting"
[code]

[2017-03-06 04:23] shenki opened #129 "jffs2 errors after booting newer kernel"
I was using a system running openbmc master. I then did some testing with a 4.10 kernel, before going back to openbmc master. The 4.7 kernel produced a lot of warnings at boot:

[code]

[2017-03-06 04:25] shenki commented on #129
I was using https://github.com/shenki/linux/commits/dev-4.10 (warning: frequent rebasing) which contains a number of @legoater's mtd changes

[code]

[2017-03-06 08:27] legoater commented on #129
I am seeing these warnings when booting on a 4.10 but not when booting back on a 4.7, and only on the ast2500. I will take a look at the kernel config.

[2017-03-06 08:29] shenki commented on #129
I've only tested on ast2400 so far.

Here are some builds if you want to do some testing:

 https://openpower.xyz/job/openbmc-build-gerrit-trigger-multi/2373/
 https://gerrit.openbmc-project.xyz/#/c/2846/

[2017-03-06 09:01] legoater commented on #129
I think I found this issue. You should make sure that your kernel config is exactly the same for jffs2. For instance :
[code]

should be the same, else the CRC will differ.

With matching 4.7 and 4.10 kernel configs, I am not seeing these warnings anymore on ast2400 and ast2500.

[2017-03-06 09:49] legoater commented on #129
as for the tests, I use 20170303* flash images with a custom fit file including the new kernel which I netboot.

[2017-03-06 13:39] geissonator commented on #129
Sounds like it's just a config thing that @shenki needs to incorporate?

[2017-03-06 17:00] mdmillerii commented on #128
dup of #70

The work is never initialized because its only used for nand, but the work is flushed.

[2017-03-06 17:03] mdmillerii commented on #128
You can hide this by turning off `JFFS2_FS_WRITEBUFFER`.  The issue is when its configured but unused for any mount.

[2017-03-14 06:15] amboar commented on #103
Just saw this on Witherspoon:

[code]

[2017-03-21 11:37] amboar opened #130 "irq 21: nobody cared (try booting with the "irqpoll" option)"
Seen on a Witherspoon machine whilst testing some i2c/tracepoint patches

[code]

[2017-03-28 21:48] kc8apf opened #131 "Support for Aspeed USB controllers"
- USB 2.0 and 1.1 host controllers are normal EHCI and UHCI respectively
- USB2.0 and 1.1 have separate clock and reset controls in SCU
  - Clocks are in SCU0C
  - Resets are in SCU04
- USB2 phy has a separate reset in the USB2.0 Virtual Hub controller (register HUB00)
- Defaults for all of the above are to have clocks disabled and the devices held in reset
- Linux ehci-platform driver (compatible

[2017-03-28 22:44] mdmillerii commented on #131
- EHCI driver has clock and reset bindings but orders clock vs reset the opposite of aspeed documentation

- UHCI registers are 4 byte spacing and reordered.

I did a close review of the UHCI registers and believe the UHCI driver can be used with some header surgery to implement custom read/write register methods, along with something to limit the probing to 3 or 4 buses.  I did the work somewhere

[2017-03-29 00:18] ozbenh commented on #131
I had a look too. The clock & resets aren't a huge issue at this point. Almost all clock in that SoC require the corresponding reset to be held when toggling. I think when we add to the clock driver on/off methods we should simply do the reset along with turning the clock on. At least for the main IP clock. For the PHY, we could use the "port" binding if needed.

I'll experiment today with Joel. T

[2017-03-29 00:36] ozbenh commented on #131
Actually ... it looks like the EHCI may not have a transaction translator, thus requiring the use of the UHCI for USB 1.x devices. I'll play around more.

[2017-03-29 02:22] ozbenh commented on #131
Is USB working on your EVB ? Even with Aspeed SDK 4.0 kernel I can't get it to react to any connected device in any port...

[2017-03-29 02:58] kc8apf commented on #131
I've never tried it.

On Tue, Mar 28, 2017 at 7:22 PM, Benjamin Herrenschmidt <
notifications@github.com> wrote:

[2017-03-29 05:54] ozbenh commented on #131
My board is broken. It works on Joel's. EHCI appears to work out with the driver unmodified as long as we get the right pinmux and reset/clk, we'll work on patches for that.
UHCI is a bit more tricky, I'll look into it.

[2017-03-29 12:26] shenki commented on #131
EHCI:
[code]
I was able to plug a USB2 device (a phone) into both ports on the EVB and have them enumerate:
[code]

UCHI:
[code]
I had less luck here with attaching a mouse.

[2017-03-29 15:56] mdmillerii commented on #131
@shenki was that our kernel or the Aspeed SDK ?

[2017-03-30 01:27] amboar commented on #130
Also for irq22:

[code]

[2017-03-31 01:26] shenki commented on #131
@mdmillerii this is our kernel with some hacks in early_init to reset the EHCI controller. The UHCI hacks were more invasive.

I am working on a drivers to do the resets properly.

[2017-04-04 01:30] kc8apf opened #132 "Write driver for AST2400/2500 Hash and Crypto Engine"
Notes from my experiments:
- HACE can _only_ access RAM
  - HACE address registers assume offset into RAM rather than full AHB address
  - FIT SHA verification is done before copying to RAM(?) so HACE doesn't help
- Writes to the hash, crypto, and RSA "engine control" registers start the operation
- Hash, crypto, and RSA can run in parallel
- Command queue is just queue of register writes
  - Comm

[2017-04-04 16:54] mdmillerii commented on #132
I've been spending much of my free time working on this driver and have one about 90% ready to touch hardware bringup.  I need to work on completions and probably clean up and chain the multi-stage hmac hashing.

[2017-05-18 02:29] shenki commented on #87
Fixed in 4.10.

[2017-05-18 02:29] #87 closed

[2017-05-18 17:22] mdmillerii commented on #113
This sounds like a u-boot configuration issue.  The arm boot wrapper and kernel both use the same register to receive both atags and dtb from the boot loader.  If passed atags and append dtb is set it will extract the dtb and patch it with the command line from atags.  If passing a dtb the command line must be embedded in the dtb.

[2017-06-09 14:16] amboar opened #134 "Unable to handle kernel paging request at virtual address 12005456"
Encountered the following oops running under qemu v2.9.0-189-gb4b9a30f8ce1-dirty

[code]

[2017-07-07 07:35] legoater commented on #134
moved to openbmc/qemu repo https://github.com/openbmc/qemu/issues/10

[2017-07-07 07:35] #134 closed

[2017-07-07 07:38] legoater commented on #101
moved to openbmc/qemu https://github.com/openbmc/qemu/issues/11

[2017-07-07 07:38] #101 closed

[2017-07-07 07:39] legoater commented on #123
moved to openbmc/qemu https://github.com/openbmc/qemu/issues/11

[2017-07-07 07:39] #123 closed

[2017-07-07 07:39] legoater commented on #104
moved to openbmc/qemu openbmc/qemu#11

[2017-07-07 07:39] #104 closed

[2017-07-07 07:43] legoater commented on #103
as this issue occurred on a Witherspoon system just after the  ucd9000 was probed, can we consider it was fixed in the recent kernel changes ?

[2017-07-07 07:47] legoater commented on #102
moved to openbmc/qemu https://github.com/openbmc/qemu/issues/9

[2017-07-07 07:47] #102 closed

[2017-07-10 01:06] amboar opened #135 "Lockup upon reaching userspace with vanilla v4.12 kernel on AST2500"
While developing the max31785 pmbus driver I hit a roadblock where the BMC would become unresponsive shortly after reaching userspace (after around 20s), and the chip would be rebooted by the watchdog. Initially I reached this state with a tree that had a number of additions over v4.12, but I reproduced the behaviour with vanilla 4.12 as well. I observed the behaviour on two machines. I disabled a

[2017-07-10 01:25] amboar commented on #135
Ah, a confounding change when the system started working: I also enabled wdt2 in the devicetree. I'll track down what the cause was.

[2017-07-10 01:30] amboar commented on #135
Okay, wdt2 not being enabled in the kernel was the cause. Have we updated u-boot recently to enable wdt2?

[2017-07-10 05:44] amboar commented on #135
@shenki mentioned there was a u-boot update several weeks ago that enabled wdt2. Not sure why it only hit me now, but I think that's enough to close this out.

[2017-07-10 05:44] #135 closed

[2017-07-21 07:47] jk-ozlabs opened #136 "VUART drops blocks of data on large host-side TX"
[I'm not yet convinced that this is specifically a BMC kernel issue, but tracking under openbmc/linux for now]

If I write 132kB of data to the host-side of the VUART, the BMC side only receives around 69-75kB of the written data.

on the host:

[code]

on the BMC:

[code]

\- with `hexdump` waiting there for further data.

[For those reproducing elsewhere, you'll need to first:
 * on the BMC: `sy

[2017-07-21 07:54] jk-ozlabs commented on #136
Interestingly, the UART stats show the complete transfer (the two sets of stats are before and after a 128kB transfer):

[code]

where 14925373 - 14794301 = 131072.

So, perhaps the 8250 core is dropping chars for some reason...

[2017-07-21 13:13] mdmillerii commented on #136
There is code to limit the number of tty flip buffers in the tty layer.  I remember it exist but haven't searched for a reference.

[2017-07-24 08:49] jk-ozlabs commented on #136
@mdmillerii : even if we're hitting the flip buffer limit, I'd expect that the overrun would be counted in the tty stats...

[2017-07-24 09:52] jk-ozlabs commented on #136
(ie, I'm not seeing `tty_insert_flip_char()` failing during this test, as the `buf_overrun` stats stay at zero)

[2017-07-25 07:37] jk-ozlabs commented on #136
Wait, looks like I *am* seeing buf_overruns, accounting for the missing chars.

[2017-07-25 08:59] jk-ozlabs commented on #136
This seems to help:

  https://lkml.org/lkml/2017/7/25/149

.. in that I can now push 128kB of data through the VUART without problems. However, we still see the same issue with larger amounts of data.

Investigating whether we can increase the flip buffer sizes for VUART.

[2017-07-27 07:25] MaxPower2005 commented on #132
@mdmillerii Where can I download this driver/patch? I would like to give it a try on my AST2500 hardware.

[2017-07-28 00:33] amboar commented on #131
I've sent out the pinctrl patches: https://lkml.org/lkml/2017/7/18/76

[2017-07-28 00:42] amboar opened #137 "max31785 NACKs some master Txs"
Testing of the [pmbus max31785 driver implementation](https://www.spinics.net/lists/devicetree/msg187630.html) revealed occasional NACKs from the device. The status byte doesn't appear to report any errors, and attempting the same transaction immediately after the failure succeeds. The NACK has been observed to happen on the second write of back-to-back writes to the device (a byte write to `FAN_C

[2017-07-28 01:00] mdmillerii commented on #132
I haven't had a chance to work on this in several weeks, but I can try to post my WIP.

[2017-08-07 08:46] jk-ozlabs opened #138 "Kernel oops during FSI rescan, relating to FSI i2c device remove"
@gkeishin reports the below kernel oops after booting (full log at https://ibm-systems-power.slack.com/files/gkeishin/F6L2UG50F/seiral_log.m). At a very brief look, this seems like the FSI i2c driver is missing some required init of a `struct device`.

[code]

[2017-08-08 02:16] jk-ozlabs commented on #138
For those following at home, @eddiejames has a fix for this (already on its way upstream) that he'll send to the list

[2017-08-08 15:58] #138 closed

[2017-08-25 11:55] amboar commented on #137
![tek00003](https://user-images.githubusercontent.com/526481/29713007-c8ca678e-89db-11e7-8093-df5ffa58cb2c.PNG)

![tek00004](https://user-images.githubusercontent.com/526481/29713011-cf01ac7a-89db-11e7-9e58-6704bc25af9a.PNG)

Scope capture of the broken transaction. Suggests the device is clock stretching into the PMBus timeout window.

[2017-09-05 02:27] shenki opened #139 "Error tearing down ftgmac100 in qemu"
[code]

[2017-09-21 04:42] amboar commented on #130
Saw this again on a Palmetto running openbmc/linux@c4227b43277bbd0992d10d764d4958239786503d plus the the series [watchdog: aspeed: Retain enabled state and move to arch_initcall](http://patchwork.ozlabs.org/project/openbmc/list/?series=4020&state=%2A&archive=both)

[2017-10-08 04:13] rhung2 opened #140 "iio: aspeed-adc: wait for initial sequence return -110 means connection timeout"
Hi
I tested the last aspeed-adc.c in AST2500 EVB board and saw that there was a error code:
[    1.852000] aspeed_adc: probe of 1e6e9000.adc failed with error -110
It just returned error code here:
/* Wait for initial sequence complete. */
		ret = readl_poll_timeout(data->base + ASPEED_REG_ENGINE_CONTROL,
					 adc_engine_control_reg_val,
					 adc_engine_control_reg_val &
					 ASPEED_ADC_CTRL_IN

[2017-10-08 23:41] amboar commented on #140
ping @aspeedtech @kc8apf

[2017-10-09 22:22] kc8apf commented on #140
The code seems to match the initialization process described in the AST2500 datasheet.  Getting -ETIMEDOUT means the ready bit never got set.  I'm assuming the prior write to enable the engine and change it to normal mode was successful.  Only thing I can guess is that the clock coming into the ADC was disabled prior to probe.  Currently, the call to enable the clocks (we enable the scaler directl

[2017-10-10 06:45] rhung2 commented on #140
Thanks, kc8apf.
I moved clk_prepare_enable in front of wait_init_sequence, but it still returned -110:aspeed_adc: probe of 1e6e9000.adc failed with error -110

        /* Start all channels in normal mode. */
	printk(KERN_INFO "[DEBUG] aspeed_adc: driver Start all channels in normal mode.\n");
	clk_prepare_enable(data->clk_scaler->clk);

	model_data = of_device_get_match_data(&pdev->dev);

	if (mo

[2017-10-10 17:40] kc8apf commented on #140
Interesting.  After the polling fails, what value is being read back from ASPEED_REG_ENGINE_CONTROL?

[2017-10-11 07:13] rhung2 commented on #140
The ASPEED_REG_ENGINE_CONTROL val is 0, it seems driver code cannot init ADC somehow.
it should be failed on writel(ASPEED_OPERATION_MODE_NORMAL | ASPEED_ENGINE_ENABLE, data->base + ASPEED_REG_ENGINE_CONTROL);

[2017-10-11 09:04] rhung2 commented on #140
I found the root cause, there was no init step in system control untit (0x1e6e2000) before writel(...).
This is my example code /* SCU INIT ADC */:
static int aspeed_adc_probe(struct platform_device *pdev)
{
        struct iio_dev *indio_dev;
        struct aspeed_adc_data *data;
        const struct aspeed_adc_model_data *model_data;
        struct resource *res;
        const char *clk_parent_na

[2017-10-11 16:17] kc8apf commented on #140
@shenki DId the reset controller get added?  I thought we had early init
code that enabled all peripherals.

On Wed, Oct 11, 2017 at 2:04 AM, rhung2 <notifications@github.com> wrote:

[2017-10-12 22:51] amboar commented on #140
@rhung2 can you point us to the kernel tree that you're testing on the EVB?

[2017-10-13 02:59] shenki commented on #140
@kc8apf the under-review clk driver has a reset controller in it. Once we have that merged we can add the reset release to the adc driver.

[2017-10-13 03:32] rhung2 commented on #140
I was using,
adc: adc@1e6e9000 {
				compatible = "aspeed,ast2500-adc";
				reg = <0x1e6e9000 0xC8>;
				clocks = <&clk_apb>;
				#io-channel-cells = <0 1 2 3>;
		};

[2017-10-13 04:32] amboar commented on #140
@rhung2 I meant can you link us to the source code of the kernel you are testing with?

[2017-10-13 05:12] rhung2 commented on #140
I used linux-4.9.46.

[2017-10-13 12:09] amboar commented on #140
@rhung2 right, any reason you're not using openbmc/linux dev-4.10? Regardless, upstream won't have the board file, but in dev-4.10 we poke the reset register with the intent to reset the AHB bridges. As it happens the write also releases the rest of the IP blocks from reset: https://github.com/openbmc/linux/blob/dev-4.10/arch/arm/mach-aspeed/aspeed.c#L232

[2017-10-13 13:56] rhung2 commented on #140
Thanks, Amboar. linux-4.9.46 is our current development base version. I will merge 4.10 and 4.9 and close this issue.

[2017-10-13 13:57] #140 closed

[2017-12-11 03:43] shenki opened #141 "pinctrl error for B7, C7 and pin 233"
Booting v4.15-rc1 with the Zaius device tree results in this:

[code]
Turning on PINCTRL_DEBUG and booting with debug didn't display any obvious messages relating to this.

[2018-01-22 12:03] madscientist159 opened #142 "Monotonic timers can run backward"
@amboar

Found an interesting bug somewhere in the OpenBMC system, presumed to be the kernel: monotonic timers appear to be able to run **backward**!

For the Talos systems we have a GPIO wired up to a piezo buzzer to be able to produce short beeps.  When trying to create a software beep generation utility, the timers kept acting weird (massive jitter, on the order of seconds), but this was chalke

[2018-01-30 03:40] shenki commented on #142
Are you sure this is a kernel issue? I did notice a bunch of compiler warnings when building the tool.

Once fixing them I wasn't able to reproduce. Here's some example output:

[code]

[2018-02-05 04:40] #142 closed

[2018-02-05 06:23] madscientist159 commented on #142
@shenki Do you mind posting the fixes you applied?  I haven't had any time to look into this again but I do remember the timer problem showed up after the system was online for a while and it took a number of retries of the `beep` program to trigger the problem.

[2018-02-21 05:59] legoater opened #143 "SPI Flash controller settings of the second chip for fast reads"
The Linux driver does not seem to tune the SPI Flash controller settings of the second chip for fast reads.

[2018-02-21 06:09] legoater commented on #143
The tuning of the first chip of the FMC controller is done by the bootloader U-Boot, using the DMA registers. Nothing is done for the  second chip.

Tuning for the SPI controller chips are done by the Linux driver.

[2018-02-21 07:36] legoater commented on #143
This patch https://github.com/legoater/linux/commit/2a3cc7822f90406715d4c3601403aa733b993dfe looks like a good option. It needs some testing on a witherspoon system.

[2018-03-22 04:21] shenki opened #144 "ubsan: pincrtrl warning"
e156398bfcad44943ea4881a390b8b816c854593
v4.16-rc6-119-ge156398bfcad

from Joel's experimental 4.16 tree, on a qemu romulus machine

[code]

[code]

[2018-03-22 04:25] shenki opened #145 "ubsan: warning in clock code"
e156398
v4.16-rc6-119-ge156398bfcad

from Joel's experimental 4.16 tree, on a qemu romulus machine

[code]

[2018-03-22 04:26] shenki commented on #145
I think the issue is we calculate `BIT(gate->reset_idx)` unconditnally, outside of the check for `reset_idx >= 0`.

Assuming this is the case, the bad value is never used. The code could be refactored to not do this to avoid the warning.

[2018-03-22 04:30] shenki opened #146 "KASAN: slab-out-of-bounds in ncsi_rsp_handler_sma"
e156398
v4.16-rc6-119-ge156398bfcad

from Joel's experimental 4.16 tree, on a qemu romulus machine. Also reproduces on Romulus hardware

[code]

[code]

[2018-03-23 03:27] shenki commented on #145
[code]

it looks to be due to the registering of `mclk-gate`.

[2018-04-05 00:42] sammj commented on #146
Looks like there's two triggers here - handling an SMA response and handling a SVF response. I've only triggered the SVF case so far but I suspect they're both the same root cause: NCSI has a generic concept of filters which it uses for both MAC addresses and VLAN IDs, storing either kind of data in a `u32 data[]` buffer. NCSI stores differently sized types in this buffer and allocates it accordin

[2018-04-09 03:44] amboar commented on #144
This appears to be a problem with `ffs()` using a signed value (`int`) as its parameter type. Shifting through the top bit of signed values gives undefined behaviour. As such this is less a problem with the ASPEED pinctrl driver and more a kernel-wide issue.

[2018-04-16 01:47] shenki opened #147 "Test and verify kexec on aspeed systems"
Last I checked kexec did not work. Make sure it works on Qemu and hardware.

[2018-04-16 02:41] shenki opened #148 "aspeed: DRM: Cannot set mode with fb tools"
[code]

[2018-04-16 02:41] shenki commented on #148
[code]

[2018-04-16 04:13] shenki opened #149 "DRM: aspeed: WARN in vblank timestamp code"
[code]

[2018-04-16 04:14] shenki commented on #148
I changed the mode to this (in order to match the expected mode by the drm_fb code) and it worked:

[code]

[2018-04-16 05:26] shenki commented on #149
[code]

[2018-04-16 05:26] shenki commented on #149
[drm-trace.txt](https://github.com/openbmc/linux/files/1913951/drm-trace.txt)

[2018-04-16 06:27] shenki commented on #149
[code]

[2018-04-16 06:40] shenki commented on #149
Fix was to move the vblank_enable callback from the `struct drm_device` to the ctrc.

Normal drivers would add it to `struct drm_crtc_funcs`. However, the aspeed_gfx driver is a uses the drm_simple_display_pipe helper, so we add the callbacks to `struct
drm_simple_display_pipe_funcs` instead. The helper code registers it's own set of `struct drm_crtc_funcs` that poke in to the simple_display_pipe

[2018-04-16 06:45] shenki commented on #149
The user I was looking at is __enable_vblank in drivers/gpu/drm/drm_vblank.c:

[code]

[2018-04-16 08:16] Kitsok opened #150 "[aspeed_wdt] watchdog is auto-pinged by kernel thread"
Watchdog is pinged by system thread (watchdogd) if it's either active or running, this code is implemented in watchdog_dev.c in watchdog_ping function:
[code]
The hardware driver synchronizes the status field of the device structure to the actual hardware status:
[code]
The issue here is that if we start the wdt in u-boot to protect from kernel hang or damaged ROFS, the kernel will ping the watchd

[2018-04-23 05:50] shenki opened #151 "BUG: KASAN: slab-out-of-bounds in jffs2_rtime_compress"
[code]

[2018-04-23 05:54] shenki commented on #151
[code]

[2018-04-27 02:44] shenki opened #152 "platform_get_resource fails when it is a child of a simple-mfd node"
This fails to load the timeriomem_rng driver:
[code]

The line that fails is in drivers/char/hw_random/timeriomem-rng.c `timeriomem_rng_probe`:
[code]

If I move the hwrng node out of the syscon, it does load.

[2018-05-03 06:22] shenki opened #153 "gpio-fsi driver does not unbind cleanly"
[code]

[2018-05-07 13:43] ouyangxx10 opened #154 "Disadvantages of DTS files?"
When I use the DTS file in the linux kernel, the linux kernel almost implementation all the driver of device, such as pca95xx, gpio-led, some i2c devices. But there is a downside to this approach. Sometimes, when BMC bootup and load device driver and  the driver need communicate with the device, need read or write the register of the device, that means the device need init before the BMC load the

[2018-05-08 03:38] jk-ozlabs commented on #136
This should be fixed by https://github.com/openbmc/linux/commit/158c8e15d577cebdb047f5d553e12054b15b1b84, which is now in the tty-next tree too.

[2018-05-08 03:38] #136 closed

[2018-05-08 09:10] ouyangxx10 commented on #154
@ya-mouse  The patch just order the i2c device driver loading in all the driver. I think the patch can not resolve my problem. We cannot cconfirm the time od "ina219" device driver need to load, not sure it will wait one min or one day or even more long time. I think the DST file lack a condition  to judge when the driver need loading. thanks.

[2018-05-08 13:56] ya-mouse commented on #154
Regarding to the message above ("No such device or address"), you don't have i2c subsystem at the time of ina2xx loading: [devm_regmap_init_i2c](https://github.com/linux4sam/linux-at91/blob/master/drivers/iio/adc/ina2xx-adc.c#L647)
The driver will not wait, but moving i2c upper might add some time between ina2xx load and i2c bus init.
There is nothing to do with DTS as far as with old fashion way

[2018-05-15 02:27] ouyangxx10 commented on #154
maybe need load the driver when it need it, thanks.

[2018-05-15 02:27] #154 closed

[2018-05-16 11:54] akashgj opened #155 "Issue with the w1 driver"
I build Linux image using https://github.com/openbmc/openbmc/ for Ziaus machine and tried to boot the Linux using QEMU. Booted successfully, but showing the following messages periodically.

 [  125.350000] w1_master_driver w1_bus_master1: Family 0 for 00.400000000000.46 is not registered.
[  125.930000] w1_master_driver w1_bus_master3: Family 0 for 00.400000000000.46 is not registered.
[  125.930

[2018-05-16 15:28] mdmillerii commented on #155
My understanding of w1 (which is from ancient memory seeing technology demos, white papers, etc,  and reading Linux kernel driver code) is that the id address, `00.400000000000.46`, is supposed to be a unique serial number of the device, so the Linux kernel does not include the master bus when creating the device name.  Having the same device serial number appear on two buses causes sysfs to attem

[2018-05-17 12:51] legoater commented on #155
what type of w1 device are you using ? I don't know any under QEMU.

Also we don't have a zaius-bmc QEMU machine. Could you paste your QEMU command line please ?

[2018-05-28 08:07] shenki opened #156 "aspeed: implement get/set_multiple APIs"
The GPIO subsystem supports get_multiple/set_multiple for chips that allow the configuration of more than one GPIO with a single register read/write. Given this is the case for the ASPEED, look into implementing it for aspeed-gpio.c.

[2018-06-18 04:15] shenki opened #157 "Investigate impact of CONFIG_HARDENED_USERCOPY"
When moving to the 4.17 based kernel, we updated the defconfig to have this option:
[code]

Perform some benchmarks to work out what the trade off is in terms of speed, particularly network traffic.

[2018-06-20 07:46] shenki opened #158 "jffs2: possible circular locking dependency detected"
[code]

[2018-06-21 06:49] sammj commented on #146
Fixed by https://github.com/torvalds/linux/commit/062b3e1b6d4f2a33c1d0fd7ae9b4550da5cf7e4b#diff-f391518f4e552724349be3589e00dfa7

[2018-07-05 05:37] #25 closed

[2018-07-17 01:38] justinylin commented on #70
@mdmillerii Hi, same backtrace printed on Linux 3.10.62, we used Nor Flash. I want to figure out, is this an issue for Nor Flash or not?
If CONFIG_JFFS2_FS_WRITEBUFFER is enabled for JFFS2 on Nor Flash, it seems sync command will always crash and print such backtrace, while store a large file into Nor Flash，some content will stay in Write Buffer and never flushed.

[2018-07-17 19:42] mdmillerii commented on #70
The issue appears when the write buffer is configured but not required.  I don't remember if its only a lockdep issue or only an issue when lockdep is enabled.  If you only have NOR flash you can turn off the config, otherwise some code paths need to be altered to properly classify the lock (but that is complicated by conditional compilation and unit separation).

[2018-08-23 06:46] shenki commented on #131
The USB driver is are now upstream (4.18) and in openbmc (dev-4.17).

[2018-08-23 06:46] #131 closed

[2018-09-05 17:25] gkeishin opened #159 "Detaching egress BPF program from cgroup failed: Invalid argument"
[code]
Looks like new kernel config thing
[code]

`Journald snippet`
[code]

[2018-09-05 17:42] gkeishin commented on #159
This one is flooding the journald @shenki

[2018-09-06 13:53] geissonator commented on #159
Found some reference to this in https://github.com/systemd/systemd/issues/7054   Maybe a kernel config type thing @shenki ?  This is making our journal's a mess with master.

[2018-09-07 07:12] shenki opened #160 "Kernel boot time"
The BMC kernel takes about 9 seconds to start on a Romulus machine. The three biggest chunks come from these init calls:

* populate_rootfs
 * aspeed_smc
 * of_platform_serial_driver_init

We should see if these can be reduced.

![out-rotate](https://user-images.githubusercontent.com/207355/45203882-eaf21a00-b2c0-11e8-8f97-9bd632dc7e36.png)

[2018-09-10 17:48] geissonator commented on #159
There was a fix made under https://github.com/systemd/systemd/pull/7481 in systemd but this went into v236 of systemd and we're currently running v237, so that patch did not seem to fix our issue.  The confusion seems to be systemd getting hints from the kernel that BPF is enabled but it's actually not.

[2018-09-11 22:42] shenki commented on #159
We use eBPF for debugging the kernel. It would be better to come up with a fix for silencing the noisy message in systemd, or configuring systemd to not attempt to attach filters to cgroups.

[2018-09-12 18:17] anoo1 commented on #159
Fix from Joel - https://gerrit.openbmc-project.xyz/#/c/openbmc/meta-aspeed/+/12705/

[2018-09-13 13:36] nest1ing commented on #159
If the `CONFIG_BPF_SYSCALL` is strongly required, we may add the `CONFIG_BPF_CGROUP` to the kernel to suppress the noisy messages.

Have any contraindications?

I tested it at our hardware and it looks fine.

[2018-09-13 14:04] anoo1 commented on #159
The kernel just grows slightly with the CONFIG_BPF_CGROUP option so seems like a viable solution:

Before:
[code]
After:
[code]

[2018-09-13 14:07] shenki commented on #159
If we don't plan on using the feature we should not enable it simply to
suppress the log message.

To suppress the log message we should fix systemd to not output the message.

On Thu., 13 Sep. 2018, 23:34 Adriana Kobylak, <notifications@github.com>
wrote:

[2018-09-13 15:21] legoater commented on #160
The SPI read timing calibration takes some cycles :

[code]

[2018-09-14 06:34] nest1ing commented on #159
I've not found any broken things depended by this problem (but maybe I missed something). It just fills the system log with a lot of red and scare messages.

So, I guess, it is not critical and the revert is optional.

[2018-09-14 15:33] geissonator opened #161 "Can not update files in /etc (overlay, ubifs) after 4.18.7 update"
@gkeishin commented on [Fri Sep 14 2018](https://github.com/openbmc/phosphor-logging/issues/12)

On the latest build, configure the remote logging via REST interface and verify the /etc/rsyslog.d/server.conf config setting
[code]
[code]
Don't see any failure or suspicious activity on journald to tell what went wrong there.

---

@dkodihal commented on [Fri Sep 14 2018](https://github.com/openbmc/p

[2018-09-14 15:37] geissonator commented on #161
We're not sure how or why but we tracked this down to this commit:
f0ca94d: linux-aspeed: Update to 4.18.7 stable tree

To summarize the issue, an existing file in /etc/ can not be edited. We get a error like this when trying to save the change:
[code]

This is only on /etc/ which is an overlay filesystem.  You can do some magic where you create the file in /tmp/ and then copy over the file in /et

[2018-09-14 15:51] geissonator commented on #161
A few overlayfs mentions in https://cdn.kernel.org/pub/linux/kernel/v4.x/ChangeLog-4.18.7 but nothing obvious to me.

[2018-09-14 16:16] anoo1 commented on #161
Issue is not seen on romulus or palmetto, so seems unique to witherspoon which has a ubifs filesystem.

[2018-09-15 14:22] shenki opened #162 "UBSAN: Undefined behaviour in percpu_ref_switch_to_atomic_rcu"
4.18.8-00344-gbb5e0c8 with UBSAN on ast2400

[code]

0x8044d148 is `arch/arm/include/asm/atomic.h:235`

This line looks most suspicious:
[code]

[2018-09-15 14:26] shenki opened #163 "Null pointer deference due to KCOV"
4.18.8-00344-gbb5e0c8 with KCOV and GCC_PLUGIN_STRUCTLEAK turned on.
[code]

arch/arm/mm/copypage-v4wb.c has a call to `__sanitizer_cov_trace_pc` inserted into it. That looked like it was clearing r1, and then copypage was trying to save a bunch of registers into the address of r1.

[2018-09-15 14:27] shenki opened #164 "UBSAN: Undefined behaviour cgroup_mkdir"
4.18.8-00344-gbb5e0c8 with UBSAN enabled on ast2400

[code]

[2018-09-16 22:00] mdmillerii commented on #160
The time spent in populate_rootfs is the time taken to unpack the compressed initramfs file system.

The compression method was chosen to minimize the on-flash size.  Other options may require less time to unpack.

Converting the shell script to C would be another alternative (some would probably like the elimination of the shell), and the dedicated binary should take a lot less space than the ful

[2018-09-19 18:48] eddiejames commented on #161
https://github.com/openbmc/linux/commit/cef393ce9aea9e0a0804da9cbabb4bec78bd29fa#diff-86a8be662de25cbab39ff847f1e826af

This is the bad commit.

[2018-09-19 19:17] anoo1 commented on #161
Eddie found the bad commit has just been reverted - https://lore.kernel.org/patchwork/patch/986563/

[2018-09-20 07:49] shenki commented on #161
I tested the upstream revert fixes the problem. It's been pulled into dev-4.18 and bumped in meta-aspeed.

[2018-09-21 07:55] kookcoder opened #165 "ASPEED 2500 GPIO Interrupt Drive"
Hi there,
I have a system using aspeed 2500 BMC Chip and dev-4.10 linux and I'm searching for GPIO interrupt driver.
Does anyone know, if there is a GPIO interrupt driver for aspeed 2500 in dev-4.10 linux?

[2018-09-21 16:26] legoater opened #166 "aspeed: implement a reset driver"
To reboot the Aspeed SoCs, the Linux kernel depends on settings being done in the OpenBMC U-Boot.
It is currently broken if a mainline U-Boot is used.

Linux needs a reset driver taking into account the reset mask of the watchdog.

[2018-09-24 05:31] shenki commented on #166
I'm a bit confused by this one. Reset drivers in Linux thus far are for turning off and on IP blocks.

Resetting the SoC is usually done by the watchdog. We already have a bunch of things in there to control the reset policy. Could we fix up/extend the watchdog to cover this requirement?

[2018-09-24 06:07] legoater commented on #166
Yes. We also need to take into account the reset mask of the watchdog on the AST2500. It is modified by the mainline U-Boot and this breaks reset on Linux.

The reset devices are today registered in the clk driver. Is there a reason for doing so and not having a
standalone reset driver for Aspeed SoC ?

[2018-09-24 06:28] shenki commented on #166
The reset and clock enable is closely tied together. In order to enable a piece of IP the aspeed datasheet specifies this sequence:

1. Disable clock
2. Release reset line
3. Wait 5ms
4. Enable clock

We could have attempted to have two separate clock and reset drivers, but it would have been messy connecting them together. As most of the clocks have a one to one relationship with reset lines and

[2018-09-24 21:42] #159 closed

[2018-10-09 05:51] justinylin commented on #70
I see, thanks

[2019-01-16 14:41] shenki commented on #44
Driver was reworked and is now upstream

[2019-01-16 14:41] #44 closed

[2019-01-25 07:47] wiwJackHsin opened #168 "ASPEED Chip I2C DAM Implementation"
Hi there,
Is there a plan to add I2C DMA mode support in ASPEED i2c driver(linux/drivers/i2c/busses/i2c-aspeed.c)?

[2019-01-25 21:34] tomrepo commented on #168
I'm actually having the same question. If no one is working on it, I may spend sometime looking into the area sometime this year (probably second half of 2019).

[2019-02-01 13:14] Kitsok opened #169 "AST2400 support for aspeed_gfx"
Hi all!

There is a gfx driver for embedded graphics display controller that is used for KVM to host.

It's declared as ast2400 and ast2500 compatible as stated in the documentation and in the driver itself:
`$ cat drivers/gpu/drm/aspeed/aspeed_gfx_drv.c | grep '\.compatible'
        { .compatible = "aspeed,ast2400-gfx" },
        { .compatible = "aspeed,ast2500-gfx" },`

But if I try to include i

[2019-02-04 22:15] bjh83 commented on #168
jae.hyun.yoo@linux.intel.com (@yoojae) has been doing a lot of work on the I2C driver lately (mostly multi-master support); I think he may have mentioned working on DMA support, but I am not sure. In anycase, you guys might want to talk to make sure you don't step on each other's toes.

[2019-02-05 00:50] shenki commented on #169
The driver hasn't been tested on AST2400 due to a lack of development time. I would welcome work to enable it if you have time to test.

[2019-02-05 15:55] tomrepo commented on #168
That's great. Thank you Brendan for the message.

[2019-02-25 18:36] tomrepo opened #170 "CONFIG_GCC_PLUGINS is not set in final .config"
Per discussion with Andrew, let me open the issue for "GCC_PLUGINS not set" problem. Basically "CONFIG_GCC_PLUGINS" is enabled in meta-aspeed/recipes-kernel/linux/ast2500/defconfig, but it's disabled in the final .config file, and I think it's because its dependency option "PLUGIN_HOSTCC" is not set properly.

Below is "merge_config_build.log" (generated by "bitbake linux-aspeed" for romulus) whic

[2019-03-07 04:59] shenki commented on #170
That's fine. We don't use any plugins currently.

[2019-03-07 04:59] #170 closed

[2019-03-18 14:25] operezmuena opened #171 "aspeed-g5.dtsi: Incorrect GPIO range prevents access to AC5-AC6 pins"
According to The AST2500/AST2520 specs, these chips support up to 228 GPIO pins.  However, 'gpio-ranges' value in 'aspeed-g5.dtsi' file is currently setting the upper limit to 220 which won't allow access to pins AC5 and AC6 on my system.

I believe the correct upper limit value is 232 after I found the below snip in the 'gpio-aspeed.c' driver:

[code]

Only after I changed the 'gpio-ranges' upper

[2019-03-19 02:05] amboar commented on #171
Thanks for the patch. Can you please follow the usual kernel development process to send it upstream? Once it's upstream you can ping @shenki on the OpenBMC mailing list to get it backported into the OpenBMC kernel tree.

[2019-03-19 02:08] amboar commented on #169
The graphics bindings could do with a `syscon` property that's a phandle to the SCU node. This way we don't need the compatible in the lookup (just use a different syscon API to resolve the syscon instance).

The alternative might be to include some platform data, or perform a SCU compatible lookup based on the graphics compatible value, but both of those seem a bit hacky.

[2019-03-19 02:34] amboar commented on #144
Closing as a false positive based on the above.

[2019-03-19 02:34] #144 closed

[2019-03-19 02:36] amboar commented on #141
Are we still seeing this?

[2019-03-19 22:56] amboar opened #172 "Investigate options for exposing MCTP to userspace"
We need to develop a sound story for supporting MCTP in the kernel. We need to determine how much we should do in userspace vs the kernel. With libmctp it's possible that we could do a lot of the work in userspace with the development effort amortised across the community of libmctp consumers, but my concern with this approach is the number of disparate kernel interfaces we might need to consume.

[2019-03-20 01:09] amboar commented on #137
This is likely to never be root-caused/resolved. Most of the engineering team that developed the controller firmware had been moved on and Maxim were unable to accommodate our support requests. Instead we've worked around the problem with retries.

[2019-03-20 01:09] #137 closed

[2019-03-20 01:12] amboar opened #173 "Upstream support for pmbus fan-controller bindings"
Currently we have out-of-tree patches for the max31785 that define devicetree bindings for PMBus fan control. Rob Herring wasn't convinced by the effort, hence the changes have lived out of tree. Try again, though this time clarify that we're defining bindings for a standardised fan-controller interface and not for fans themselves (which was the original sticking point).

[2019-03-20 01:14] amboar opened #174 "Upstream MAX31785 devicetree bindings for controller configuration"
The MAX31785 can do pretty much everything, but a lot of the functionality lives in vendor-defined PMBus commands. Upstream bindings to configure the fan controller as required.

Previously Guenter requested that the firmware set this up and that the kernel assume that this has occurred, but unfortunately we are the firmware in this case and wrt Witherspoon, manufacturing did not pre-program the c

[2019-03-20 02:52] amboar opened #175 "Upstream miscellaneous control interfaces patch"
We need a way to expose random bits in random registers in random devices in a unified way. This ran aground upstream previously due to the proposed devicetree bindings. Avoid that mess, implement support as a library, then implement basic drivers for the devices and expose the bits using the library.

[2019-03-20 14:30] bradbishop commented on #175
@osenft just fyi I know you are interested in this work.

[2019-03-20 19:15] osenft commented on #175
@amboar, can you explain more about the proposed solution?

I still feel its beneficial to have a clean Kernel<->userspace boundary that clearly defines which bits a userspace process can modify. I generally prefer a /sys based interface since the abstraction lives in the kernel. However, I appreciate that this means a lot of (potentially) duplicate work that each needs to be upstreamed separately

[2019-03-22 06:40] amboar commented on #175
@osenft I think this was the most recent set of patches I sent:

https://lists.openwall.net/linux-kernel/2018/07/11/179

They need to be reworked as I note above and sent out again. Hopefully they'll get a bit more traction this way.

[2019-03-25 23:57] amboar opened #176 "Romulus triggers WARN() on gpio-keys probe under qemu"
[code]
It's unusual because at first glance it seems we're calling into `unregister_allocated_timer` but the timer value must be zero.

[2019-03-26 04:19] amboar commented on #176
Debounce was broken by torvalds/linux@6581eaf0e890756e093e2f44916edb5e7e6558ca . The fix is to revert it. Attached is a patch with an explanation.

[0001-Revert-gpio-use-new-gpio_set_config-helper-in-more-p.patch](https://github.com/openbmc/linux/files/3006474/0001-Revert-gpio-use-new-gpio_set_config-helper-in-more-p.patch.txt)

[2019-03-26 04:57] amboar commented on #176
Sent out the fix: https://lkml.org/lkml/2019/3/26/12

[2019-04-02 02:23] amboar commented on #176
Patch now upstream: torvalds/linux@fa59dd234c9a237e590a5f6db530d7f7ee88e5e8

[2019-04-02 02:23] #176 closed

[2019-04-30 12:46] #161 closed

[2019-05-31 05:29] shenki opened #178 "Bad CE2 size on 128MB NOR"
On a swift system which appears to have two 128MB BMC NORs we get this:
[code]

It is running OpenBMC's 5.1.3-abc3428.

Full log:

[code]

[2019-06-07 01:39] wangzqbj opened #179 "fsi: Unable to handle kernel NULL pointer dereference"
root@fp5280g2:~# [  100.885399] Unable to handle kernel NULL pointer dereference at virtual address 00000060
[  100.893632] pgd = 7938abee
[  100.896357] [00000060] *pgd=958a6831, *pte=00000000, *ppte=00000000
[  100.902799] Internal error: Oops: 17 [#1] ARM
[  100.907191] CPU: 0 PID: 1422 Comm: openpower-proc- Tainted: G        W         5.1.6-2f50135-dirty-2b98b34 #1
[  100.917100] Hardware name

[2019-06-10 07:29] wangzqbj commented on #179
It happened when the command `obmcutil poweron` executed for the first time after AC power applied

[2019-06-11 03:18] mine260309 commented on #179
To clarify: the issue **only** happens on the **first** power on after AC cycle;
It will not happen after BMC reboots.

[2019-06-11 09:08] mine260309 commented on #179
The issue is related to NULL pointer dereference in `fsi_master_remove_slave`.
The related code is:

[code]

There is a weird log in kernel's fsi driver in ac_applied_before_poweron.log:
[code]

This happens in `fsi_slave_init()`:
[code]

So it could be the case that the slave device is NULL, and while during fsi rescan, the code uses the NULL pointer.

But it's really weird that the above log onl

[2019-06-12 14:34] mdmillerii commented on #179
From past experience, I expect the problem is calling `device_del` for a device that was never added.  The device model `core` trys to do a `WARN` that the private data was not initialized, but instead dereferences the NULL pointer when trying to obtain the name to print because it was never set.

[2019-06-13 07:18] mine260309 commented on #179
The code
[code]
free and return directly, instead of `goto err_free`, which seems wrong.

By fixing the piece of code, this issue is gone.

[2019-06-22 19:09] meklort opened #180 "Unbinding the NCSI ethernet driver results in a kernel panic"
This was tested on a Talos II. When attempting to unbind / rebind the kernel driver to retrigger initialization, a kernel panic occurs.

root@talos:~# echo 1e660000.ethernet > /sys/devices/platform/ahb/1e660000.ethernet/driver/unbind

[code]

[2019-06-24 21:42] mdmillerii commented on #179
It appears two kobjects are both created wtihin the `fsi_slave` structure, both a `cdev` and a `dev`. device.  That can never work as they each have their own release method.

[2019-06-25 02:14] mine260309 commented on #179
@mdmillerii Could you comment on the below patch?

https://lists.ozlabs.org/pipermail/openbmc/2019-June/016673.html

[2019-07-05 08:45] wangzqbj commented on #179
Fixed by Jeremy Kerr:   https://patchwork.ozlabs.org/patch/1124039/

[2019-07-05 08:45] #179 closed

[2019-07-08 03:54] shenki opened #181 "WARNING at kernel/dma/mapping.c:281 dma_free_attrs"
With 5.2 I see this on a romulus machine as userspace is coming up:

[code]

[2019-07-09 10:16] ytmhub opened #182 "ftgmac100: mdio read timeout"
I'm using linux 4.18 with BCM54616S phy, and I'm getting the following errors when ftgmac100 driver tries to read from mdio bus:
[code]
This issue seems the go away if  'ftgmac100_setup_clk' is called before 'ftgmac100_setup_mdio', which is also how it is done in 4.1, where the MAC is reset via the Reset Control Register, before the rest of the initialization.

I failed to find a mention of this i

[2019-07-11 05:15] amboar commented on #182
Can you try with the dev-5.2 branch instead? Just so we're not debugging issues that are already resolved.

[2019-07-23 06:52] amboar opened #183 "Describe upstream regulators for Witherspoon's BMP280"
Currently the following warnings are issued for Witherspoon's devicetree:

[code]

[2019-07-23 13:16] spinler commented on #183
FYI, that device only existed on some early lab versions of that system, and didn't ship to the field.

[2019-07-24 02:48] amboar commented on #183
Can we drop it from the devicetree then?

[2019-07-24 14:13] msbarth commented on #183
@amboar, I'd prefer that it does not get dropped as that would then cause these lab systems still in use to no longer have an available ambient sensor.

[2019-07-25 21:30] bjwyman commented on #183
Not that I am a kernel guru or anything, but BMP280 issue caught my eye.

I was curious what those were, and why they would be required.

Is it just me, or did those start out as optional and move to required?
https://patchwork.ozlabs.org/patch/637124/

[2019-07-27 09:51] shenki commented on #181
This was fixed by moving to the upstream version of the aspeed-video driver

[2019-07-27 09:51] shenki commented on #181
This was fixed by moving to the upstream version of the aspeed-video driver

[2019-07-27 09:51] #181 closed

[2019-07-30 03:50] amboar commented on #183
@bjwyman hah! Indeed they did, but not in the change you pointed to, but rather this one:

https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?h=v5.3-rc2&id=88aa7ae661284accd4c058429d6d0a3b7397e081

This was introduced in v5.2. I'll poke people.

[2019-07-30 21:03] bjwyman commented on #183
Okay, I was just noting that going back to the patch I mentioned, those appeared to be optional, but somehow they later ended up as required. The change you pointed to is obviously where that was introduced.

[2019-09-06 18:20] shenki opened #184 "Oops when removing ftgmac100"
While debugging some NCSI issues I tried to remove the ftgmac100 driver, which blew up.

[code]

[2019-09-06 18:20] shenki commented on #184
If this can be reproduced with an upstream kernel we should report to the upstream list.

[2019-09-07 00:42] amboar commented on #184
Looks the same as #180

[2019-09-10 14:49] operezmuena commented on #171
Patch was added to Linux-Aspeed v5.2.11.  Closing.

[2019-09-10 14:49] #171 closed

[2019-11-16 08:26] ytmhub commented on #182
This seems to have been fixed since then, as can be seen [here](https://github.com/openbmc/linux/commit/de501f8417a42f645d41691e466cf9ff46dd7486).

[2019-11-16 08:26] #182 closed

[2020-01-14 06:07] shrd20190131 opened #186 "gpio:[ 261.010291] Unable to handle kernel NULL pointer dereference at virtual address 00000070"
This pin controls our device, when I pull this pin high, the bmc system sometimes will hang

[ 261.010291] Unable to handle kernel NULL pointer dereference at virtual address 00000070
[ 261.018412] pgd = 05e00a87
[ 261.021122] [00000070] *pgd=00000000
[ 261.024717] Internal error: Oops: 17 [#1] ARM
[ 261.029087] CPU: 0 PID: 0 Comm: swapper Not tainted 5.2.0-c01e98d-dirty-0a2bbcd #1
[ 261.036652] H

[2020-01-16 06:37] shenki commented on #186
Please re-test using the dev-5.4 branch of the openbmc kernel.

[2020-01-16 06:37] #186 closed

[2020-04-07 22:24] shenki opened #188 "kmemleak detected in ftgmac100"
Running 5.4.28-00243-g757f8a4d828d on tacoma (ast2600)
[code]

[2020-04-07 22:24] shenki opened #189 "kmemleak detected in fsi master"
Running 5.4.28-00243-g757f8a4d828d on tacoma (ast2600)

[code]

[2020-04-07 22:35] mdmillerii commented on #189
This is dev_set_name.

Was there a trigger?   Is the driver trying to set the name after the device was added?

[2020-04-14 07:30] shenki opened #190 "AST2600 SMP stuck when crashing"
When Linux is running in SMP mode and we crash in a specific way the kernel gets stuck. One cpu sits in the idle loop, while the crashing CPU is stuck on a WFE.

This can be reproduced by the following in `fsi-master-aspeed.c`:

[code]

o

[code]

[code]

stepping through the code, we get far enough through kernel/printk/printk_safe.c:352 to call `arch_local_irq_save () at ../arch/arm/include/asm/

[2020-04-15 01:26] shenki opened #191 "possible recursive locking detected when doing fsi rescan"
[code]

[2020-04-15 02:19] mdmillerii commented on #191
I seem to remember some deferral infrastructure, probably for scsi or usb, but will search later.

[2020-05-21 02:20] wws66 opened #193 "ast2400 w83795 no effect"
Hello everyone, here I add a w83795adg and two temperature sensors on it, but they have no effect.I checked the experience of other people in the list and found that my / sys / class / hwmon did not generate files similar to hwmon10. I found the following problems through udevadm, but I don't know why he made mistakes. Please help me to see why.

[code]

[2020-05-21 16:19] mdmillerii commented on #193
No device driver found the desired hardware.    Look at the kernel log for error message.  Look under `/sys/bus/` by connection type if your device is not present.  Check the device tree for the description of your device.

[2020-05-22 01:38] wws66 commented on #193
Hello, I checked the kernel log. There is no description of 83795. The watchdog error has always existed. It is not caused by adding sensor operation. You can see w83795adg under / sys / bus. I checked the related problems, for example: [#3519](https://github.com/openbmc/openbmc/issues/3519) I added the description of w83795adg in the device tree, and added the related .conf and .Bbappend file, bu

[2020-06-03 04:53] mdmillerii commented on #193
Do you have `CONIFG_SENSORS_W83795=y` in your kernel config?
Yocto uses small cfg snippets to enable drivers that exist on your hardware.

[2020-06-03 12:08] wws66 commented on #193
Hello, I wrote the configuration in the following file.

/meta-ibm/meta-palmetto/recipes-kernel/linux/linux-aspeed/palmetto.cfg
[code]

[2020-06-03 13:01] mdmillerii commented on #193
All I can say is look at sysfs and dmesg again.
You found the device; if the driver is bound you should find a `driver` symlink.  If not look for errors or why the compatible string doesn't match.

[2020-07-20 05:57] shenki opened #194 "dev-5.7 fails to communicate with max31785a"
Running 5.7.7-5d6a308 (dev-5.7 HEAD as of today) on Tacoma. The logs below are from spork. This was also reported on multiple witherspoon systems.

Debugging setup:
[code]

[code]
[code]

[2020-07-20 06:47] shenki commented on #194
Reverting 16358542f32f47f372ad48e4cdf61ab245c9f49d fixes the test case of reading `fan5_input`,

[2020-07-20 07:02] shenki commented on #194
I implemented https://github.com/openbmc/linux/commit/16358542f32f47f372ad48e4cdf61ab245c9f49d without this hunk, and the test case failed:

[code]

[2020-07-20 08:51] shenki commented on #194
This branch has https://github.com/openbmc/linux/commit/16358542f32f47f372ad48e4cdf61ab245c9f49d implemented as a set of smaller bisectable changes: https://github.com/shenki/linux/tree/pmbus-phase-bisecting

[code]

[2020-07-20 08:51] shenki commented on #194
[code]

[2020-07-21 00:50] shenki commented on #194
This patch resolves the issue by reverting the above hunk, plus a fix to still build:

[0001-pmbus-core-Remove-phase-paramter-from-pmbus_add_sens..txt](https://github.com/openbmc/linux/files/4950631/0001-pmbus-core-Remove-phase-paramter-from-pmbus_add_sens.txt)

However, upstream has a patch that fixes it properly. It was added to stable in v5.7.8, so if we had waited a few more days we would have

[2020-07-22 09:05] shenki commented on #194
This was fixed in openbmc by integrating the v5.7 stable fixes into dev-5.7.

[2020-07-22 09:05] #194 closed

[2020-07-28 06:13] 229024527 commented on #193
my w83795adg but can't display on my web,/sys/class/hwmon/hwmon0/device can read data

[2020-07-28 06:33] 229024527 commented on #193
I also have w83795,  but webui can't display value ,under /sys/class/hwmon/hwmon/device can read value

[2020-07-28 15:48] mdmillerii commented on #193
https://github.com/openbmc/docs/blob/master/development/add-new-system.md#hwmon-sensors

[2020-08-07 08:05] gkeishin opened #195 "Unexpect mailbox IRQ on Witherspoon during Power on"
Noticed this on jenkins HW CI test run :  gerrit: https://gerrit.openbmc-project.xyz/#/c/openbmc/openbmc/+/35426/

[code]

SOL log:
[code]

[2020-08-07 08:05] gkeishin commented on #195
@amboar can u check on it. .Thanks

[2020-08-12 06:47] shenki opened #196 "unexpected IRQ trap at vector 00"
happens whenever the host reboots?

5.8.0-00136-g25e684fb22df-dirty
witherspoon

Kernel tree is dev-5.8 plus the fsi compatability symlink patch, and -dirty is disabling the xdma and kcs4 devices.

[code]
[code]
[code]

[2020-10-12 04:21] shenki commented on #184
[code]

[2020-10-12 04:22] shenki commented on #180
Follow this one in #184 as it has a better title. This is nothing do with NCSI.

[2020-10-12 04:22] #180 closed

[2020-10-12 05:14] shenki commented on #184
A different crash when running in mdio mode:

[code]

[2020-10-12 05:33] mdmillerii commented on #184
So ncsi mode is an ipv4 reference.

The mdiobus_unregister bug is for not registered or already unregistered.

[2020-10-14 18:17] switchapp233 opened #197 "Kernel panic caused by devmem"
I did the following steps:
1. add "CONFIG_DEVMEM=y" in https://github.com/openbmc/openbmc/blob/master/meta-ibm/meta-romulus/recipes-kernel/linux/linux-aspeed/romulus.cfg
2.Kernel panic will appear when I issue the devmem command on Romulus image.

logs:
[   32.147617] Unable to handle kernel NULL pointer dereference at virtual address 00000020
[   32.155851] pgd = a3a5f201
[   32.158578] [00000020

[2020-10-15 09:09] switchapp233 commented on #197
The problem has been solved, so close it.
https://www.programmersought.com/article/65202093696/
https://shenki.github.io/openbmc-dev-mem/
https://lists.ozlabs.org/pipermail/openbmc/2018-October/013779.html

[2020-10-15 09:09] #197 closed

[2020-10-21 23:07] amboar commented on #172
We've decided that socket-based MCTP is where we want to go.

[2020-10-21 23:07] #172 closed

[2020-11-20 03:00] shenki opened #198 "WARNING: CPU: 0 PID: 142 at kernel/dma/mapping.c:148 dma_map_page_attrs"
dev-5.9 (wip) on witherspoon:

[code]

[2020-11-20 03:02] shenki opened #199 "FSI issue with v5.9 kernel"
dev-5.9 (wip) on witherspoon. Host was already running when new kernel was loaded:

[code]

[2020-11-20 03:31] shenki commented on #199
As FSI probing has failed, pdbg has chosen the fake backend.

When attempting a scan we see a timeout:
[code]

[code]

/proc/timer_list suggests hrtimers are working.

[2020-11-20 05:03] mdmillerii commented on #198
https://github.com/shenki/linux/blob/dev-5.9/kernel/dma/mapping.c#L148

[2020-11-28 00:04] shenki commented on #199
This was a regression in the pinmux driver.

https://lore.kernel.org/linux-gpio/20201126063337.489927-1-andrew@aj.id.au/

[2020-11-28 00:04] #199 closed

[2021-02-11 22:15] shenki commented on #198
@geissonator saw this with v5.10.

When attempting to debug this the issue goes away, so there is some aspect of timing or build configuration that affects reproducibility.

[2021-02-24 08:44] shenki commented on #198
69c9e825e812ec6d663e64ebf14bd3bc7f37e2c7 fixes a similar looking warning. I suspect we're setting this on the wrong device. Reliably reproducing is still difficult which makes it hard to test.

[2021-02-24 09:10] shenki opened #201 "ftgmac: device driver frees DMA memory with different size"
v5.11 with CONFIG_DMA_API_DEBUG on qemu, tacoma machine.

[code]

[2021-02-25 10:41] shenki opened #202 "kasan causes userspace to fail"
v5.12-rc0, tacoma, qemu

[code]

[2021-02-25 11:02] amboar commented on #202
This might help: https://amboar.github.io/notes/2019/12/27/arm-kasan.html

[2021-03-12 10:23] philenotfound commented on #184
I had the same issue..
If using NCSI more clean up is required.

[code]

[2021-03-12 13:48] shenki commented on #184
@philenotfound This issue is fixed in mainline linux v5.10, and therefore in the dev-5.10 openbmc branch.

[2021-03-12 13:48] #184 closed

[2021-03-22 11:01] vkrk-user commented on #198
@shenki  USB-DMA issue observed in 5.10 based kernel

I could able to recreate this issue with AST2600 eval kit i.e.., whenever I connect the USB cable to my host setup (laptop/server) such dma triggers were observed through USB interrupt which in turn lead to a crash.
Also in our setup we've enabled the network over usb (USB_ETH) during our testing. Whereas this issue is not seen when I swithc ba

[2021-03-24 03:24] amboar opened #203 "Unbinding the aspeed-vuart driver tries to free nonexistent resource"
[code]

[2021-03-24 09:55] leiyu-bytedance commented on #198
We have exactly the same issue on 6687842ee681 on g220a.

[2021-03-25 04:28] zevweiss commented on #198
Also encountering this on my e3c246d4i port (100% reproducible so far).

[2021-03-25 05:07] tao-ren commented on #198
I'm facing the similar backtrace when moving to kernel 5.10, and I have applied below 1-line patch in my tree to fix it. So far it works for Facebook AST2400 and AST2500 platforms but I didn't get chance to try it on AST2600.

https://github.com/facebook/openbmc-linux/commit/83153bda736b26a07a376529941906f0a825862e#diff-d44e373511270207f6d3dc1f1081834d0b7cd91ffa086c86a999a3dd753cc744

[2021-03-25 05:14] shenki commented on #198
Thanks @tao-ren. I think this indicates the kernel is using the wrong device pointer somewhere along the lines. I've been reading through the code trying to work out where this is.

Can someone boot using CONFIG_DMA_API_DEBUG and reproduce the issue?

[2021-03-25 05:26] zevweiss commented on #198
Full dmesg with `CONFIG_DMA_API_DEBUG=y`:

[code]

[2021-03-25 05:36] tao-ren commented on #198
My feeling was: the "dummy" device (one for each port, created in "ast_vhub_init_dev") was not fully initialized (no dma mask). The driver used be working, but it fails after commit f959dcd6ddfd ("dma-direct: Fix potential NULL pointer dereference").

[2021-03-25 06:09] zevweiss commented on #198
I can't speak to whether or not it's entirely the right fix, but experimentally I've just tested @tao-ren's patch, and with it applied I no longer see the aspeed-vhub WARN() and the openbmc iKVM's K and M components are functional.  (I still get the ftgmac100 `check_unmap()` warning, but I presume that's unrelated.)

[2021-03-25 07:50] shenki commented on #198
@zevweiss Thanks for testing. The ftgmac100 warning is https://github.com/openbmc/linux/issues/201.

[2021-03-25 07:57] tao-ren commented on #198
I was about to learn more before sending out the patch but didn't get chance to do so (struggling with ast2600 these days). Sure I will send out the patch to upstream list soon.

[2021-03-25 08:02] leiyu-bytedance commented on #198
Tried the patch on g220a and it works great!

[2021-03-25 08:10] zevweiss commented on #201
From some cursory code inspection, it looks like this stems from the cycle-shaving optimization in `ftgmac100_rx_packet()` added in commit 7b49cd1c9eca4acd4dc36b6c2c532cad3576171d:

[code]

(in contrast with the `dma_map_single()` call in `ftgmac100_alloc_rx_buf()` using `RX_BUF_SIZE`).  Should that part just be backed out, or might there be some reason that's a "legitimate" mangling of the what I

[2021-03-26 02:36] ozbenh commented on #201
This is purely cycle shaving. I remember it making quite a measurable difference on the ast2400 and ast2500 chips though.

Unfortunately the API doesn't provide a way to specify how much data was *actually* DMAed, which for network tx would be a legitimate optimisation.

[2021-03-26 07:24] tao-ren commented on #198
FYI I just sent the patch to upstream list. I couldn't cc all the people in the thread because I don't have all the email addresses, but I added openbmc email alias, and you could search "[PATCH] usb: gadget: aspeed: set port_dev dma mask".

Cheers,
Tao

[2021-05-09 04:09] zevweiss commented on #203
ftrace shows multiple calls to `__release_region()` from a single unbind:

[code]

and

[code]

So, perhaps some duplication between a manual release and a devres auto-release?

[2021-05-09 04:11] zevweiss commented on #203
With the following patch applied the warning no longer triggers on unbind, but it seems like a bit of a hack; I'm guessing there's a better way...

[code]

[2021-05-09 04:36] zevweiss commented on #203
A slightly less clunky approach, letting the serial8250 code take care of the ioremap instead; still not sure if this is entirely "right" though.

[code]

[2021-05-09 23:11] amboar commented on #203
I think it might be better to eliminate `vuart->regs` and just use `port.membase` throughout (possibly with a helper for accessing it).

[2021-05-09 23:18] zevweiss commented on #203
I actually tried doing exactly that as my first fix attempt, but it panicked on boot for reasons that weren't immediately obvious to me -- looking back at it now, it looks like that was probably because `vuart->port` is only ever initialized in the throttling path and I had been blindly assuming it was set to something useful in the probe function.  Armed with that insight, lemme give that another

[2021-05-10 00:14] zevweiss commented on #203
...alright, with the `vuart-port` initialization sorted out, that now works as expected -- guess I'll send that to the list shortly then.

[2021-05-10 00:16] amboar commented on #203
Thanks @zevweiss !

[2021-05-10 06:17] shenki commented on #198
This has been fixed in mainline with bd4d607044b961cecbf8c4c2f3bb5da4fb156993, and backported to the openbmc dev-5.10 kenrel with bbfc8e2ed94396cb0b5c914324680c47172a9762.

[2021-05-10 06:17] #198 closed

[2021-05-10 06:23] shenki commented on #151
This was fixed in mainline by 90ada91f4610c5ef11bc52576516d96c496fc3f1. This has not been backported at this stage.

[2021-05-10 08:25] shenki commented on #175
These patches were removed in favour of adding code to the relevant for the controls that were exposed. See 696029eb36c08d7b60097cae44a6269bfa68b51c for an example involving the display driver.

[2021-05-10 08:26] shenki commented on #151
The patch has been applied to the stable trees and will appear in the openbmc tree when they are merged (eg v5.10.36)

[2021-05-10 08:26] #151 closed

[2021-05-10 08:33] shenki commented on #117
The in-kernel defconfig is a superset of the openbmc options, so this should no longer be an issue.

[2021-05-10 08:33] #117 closed

[2021-05-10 10:29] edineshkumar opened #204 "Nbd_X Unexpected reply issue."
Two media instances has been redirected by two different nbd (nbd0 and nb2)device. It can be visible in host by issuing the `lsblk` linux cmd.

When rebooting the host, nbd2 is getting issue of unexpected replay. So that nbd2 socket is getting closing up normally.
redirected image is getting removed from host.

**Expected result:**
Nbd socket should not close and after host rebooted, redirected me

[2021-05-11 13:57] williamspatrick commented on #204
I don't think the people you @'d are going to provide support here.  Maybe if you think those people would be useful you could send an email to the LKML, but I'm not sure why you think those people are relevant because they are not listed in the MAINTAINERS section for nbd:
[code]

If you are using an OpenBMC kernel, that is quite old at this point, and we generally don't provide support outside t

[2021-05-11 17:26] edineshkumar commented on #204
I have been tested one test case, which is working case. It might be useful to the `nbd` experts to found the root cause.

Step :1   Redirected media instance by using /dev/nbd0 and it could be able to see in host.
step :2    Reboot the host, Media instance is still present in host.
Step :3   Redirected one more instance by using /dev/nbd2 and both instances could be visible in host.
Step :4   Reb

[2021-05-11 19:20] mdmillerii commented on #204
Can you recreate with just fio or similar to two nbd devices ?
What are you using for nbd server?   (Guessing two processes of some code).
 Trying to reduce the environment required to recreate, unless you can find an older kernel that hits it.

[2021-06-08 19:44] edineshkumar opened #207 "Device or resource busy issue with gadget driver."
If redirected media instance was mounted in host machine, following shell command is failing by **sh: write error: Device or resource busy.**

`cd /{gadget_path} ;    echo > functions/mass_storage.usb0/lun.0/file`

If the media instance was not mounted in host machine, then there is nothing issue. `echo` command is succeeded.

My need is, `echo` command should success in both (with/without  mount)

[2021-06-11 05:56] #204 closed

[2021-07-02 03:03] Andywjzhang opened #208 "Meet 'detected buffer overflow in memcpy' with pxe1610 driver probe"
Dear guys,

I meet an issue when I use comand 'echo pxe1610 0x6e > /sys/bus/i2c/devices/i2c-0/new_device' to export pxe1610 driver.
The kernel version I used is: dev-5.4 (linux-aspeed-5.4.43)
And the detail error logs are as below:

[  115.900453] detected buffer overflow in memcpy
[  115.905117] ------------[ cut here ]------------
[  115.909754] kernel BUG at lib/string.c:1096!
[  115.914021] In

[2021-10-14 03:04] zevweiss commented on #203
This should be fixed as of upstream commit 54da3e381c2b55289b220601f403f17df7b20597.

[2021-10-14 03:07] zevweiss opened #209 "Panic on accessing MTD file descriptor after unbinding aspeed-smc driver"
The following script triggers a kernel panic:

[code]

dmesg output:

[code]

I'm looking into possible fixes, but figured I'd file it here in case anyone else has any input (and so it doesn't get lost/forgotten).

[2021-10-14 08:12] zevweiss commented on #209
Yeah, there's no failure path for the unbind operation...commit e5e1c209788138f33ca6558bf9f572f6904f486d acknowledges  that the driver core ignores the remove operation's return value, but it doesn't sound like there's any movement toward that changing, and if anything sounds like things are going the opposite direction ("The right thing to do would be to make struct platform_driver::remove() retu

[2021-10-15 16:26] legoater commented on #209
I have another experimental Aspeed SMC driver using `spimem` and it generates the same kind of issues.
[code]

[2021-10-15 18:04] zevweiss commented on #209
Interesting...though it looks like in that case the panic happened during the unbind, instead of on an FD access after it?

[2021-10-29 22:32] zevweiss opened #210 "irq 32: nobody cared"
Booting OpenBMC on a system I'm currently working on a port to, I get this (at least sometimes) during boot:

[code]

I haven't dug into it at all thus far; perhaps @amboar might have some insight as to the cause?

[2021-11-01 01:51] shenki opened #211 "Evaluate ZERO_CALL_USED_REGS"
v5.15 introduces ZERO_CALL_USED_REGS. Evaluate performance and image size difference, and enable it in the openbmc defconfigs.

[2021-11-01 23:25] shenki commented on #210
This happens when the lpc devices are probed in a specific order. They can enable the LPC IRQ before a handler is registered.

This is the same bug as https://github.com/openbmc/linux/issues/130

Jae has posted a series that should resolve this issue. Please review and test!

https://lore.kernel.org/all/20211101233751.49222-1-jae.hyun.yoo@intel.com/

[2021-11-16 08:37] hemanthkumarm-ami opened #212 "Query on intel PECI subsytem driver being removed"
can i know the reason why intel PECI subsytem is removed after kernel dev5.8 ? is there any plan to support this in future releases.

@yoojae

[2021-11-16 09:03] zevweiss commented on #212
The PECI patches had been living in the OpenBMC kernel tree (and not in the mainline kernel) for a long time and the efforts to get them merged upstream seemed to have stalled, so they were removed from the OpenBMC kernel (see [OpenBMC kernel docs](https://github.com/openbmc/docs/blob/master/kernel-development.md) and [Joel's email](https://lore.kernel.org/all/CACPK8XcCVmibRzOvrca87pzWzg0K5=ZBMeFQ

[2021-11-16 19:58] #207 closed

[2021-11-23 07:09] shenki commented on #212
Thanks for summarising Zev. We would like to see Intel support their hardware in the mainline tree.

Please take any follow up discussion to the mailing list.

[2021-11-23 07:09] #212 closed

[2021-12-01 02:15] shenki commented on #203
This hit mainline in v5.14, so it's part of dev-5.15. Thanks Zev.

[2021-12-01 02:15] #203 closed

[2022-05-01 17:20] ytmhub opened #214 "ast2600: i3c support"
Hi,

I was wondering if  i3c is supported in this kernel, or if any work is being done towards supporting it in the near future.

Regards,
Yotam

[2022-05-02 09:00] shenki commented on #214
Please use the mailing list for discussion:

openbmc@lists.ozlabs.org

No one has sent patches for I3C support yet.

[2022-05-02 09:00] #214 closed

[2022-05-03 05:10] shenki commented on #169
As of v5.11 (bce724fa58e67d24fe9eddb40ebb665fbe4bd7e8) the driver has support for the 2400.

[2022-05-03 05:10] #169 closed

[2022-09-28 09:56] MarkChuangGit opened #215 "How to configure for 'Video input from DVO' on OpenBMC?"
Hi,
Ast2500 support three video pathes
1. Video output
2. Graphics CRT output
3. Video input from DVO

I have a project which needs to use 'Video input from DVO'.
I follow ast2500 datasheet to modify SCU2C register and video function pins from -u-boot, but the KvM screen still is no display.

It seems like that there are some driver would modify SCU2C register.
Is there an example to do this featu

[2022-09-28 11:05] amboar commented on #215
You need use the pinctrl devicetree properties to enable the video capture pinmux state (VPI24 if I recall correctly): https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/tree/Documentation/devicetree/bindings/pinctrl/aspeed,ast2500-pinctrl.yaml?h=v5.19#n66

However, issues are not the place to ask support questions. Please ask on the mailing list or on discord (preferably the maili

[2022-09-28 11:05] #215 closed

[2022-11-15 08:49] shenki opened #216 "WARN in ncsi-cmd code"
next-20221114 + openbmc patches

[code]

[2022-11-15 10:26] shenki commented on #216
[code]

[2022-11-17 11:06] shenki commented on #216
https://lore.kernel.org/netdev/CACPK8Xdfi=OJKP0x0D1w87fQeFZ4A2DP2qzGCRcuVbpU-9=4sQ@mail.gmail.com/